<form accept-charset="utf-8" action="{{ form_action }}" method="post" enctype="multipart/form-data">
	<div class="display-table">
		<div class="display-row">
			<span class="display-cell">
				<span data-i18n="gettext">Ban set by:</span>
				<span id="ban-name-display">{{ creator }}</span>
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span data-i18n="gettext">Time set:</span>
				<span>{{ start_time_formatted }}</span>
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span data-i18n="gettext">Expires on:</span>
				<span>{{ expiration }}</span>
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span data-i18n="gettext">Ban type:</span>
				<span>{{ ban_type }}</span>
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span data-i18n="gettext">IP hash:</span>
			</span>
			<span class="display-cell">
				<span>{{ hashed_ip }}</span>
			</span>
		</div>
		{{# view_unhashed_ip }}
		<div class="display-row">
			<span class="display-cell">
				<span data-i18n="gettext">IP address or range:</span>
			</span>
			<span class="display-cell">
				<span>{{ ip_address }}</span>
			</span>
		</div>
		{{/ view_unhashed_ip }}
		<div class="display-row">
			<span class="display-cell">
				<label for="ban_board" data-i18n="gettext">Apply ban to this board:</label>
			</span>
			<span class="display-cell">
				<input id="ban_board"  type="text" name="ban_board" value="{{ ban_board }}">
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<input type="hidden" name="ban_all_boards[default]" value="0">
				<input id="ban_all_boards" type="checkbox" name="ban_all_boards[value]" value="1" {{ all_boards }}>
				<label for="ban_all_boards" data-i18n="gettext">Ban from all boards.</label>
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell" data-i18n="gettext">Ban length:</span>
			<span class="display-cell">
				<label for="ban_time_years" data-i18n="gettext">Years</label>
				<input id="ban_time_years" type="number" name="ban_time_years" size="6" value="{{ years }}">&nbsp;&nbsp;&nbsp;
				<label for="ban_time_days" data-i18n="gettext">Days</label>
				<input id="ban_time_days" type="number" name="ban_time_days" size="6" value="{{ days }}">&nbsp;&nbsp;&nbsp;
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell"></span>
			<span class="display-cell">
				<label for="ban_time_hours" data-i18n="gettext">Hours</label>
				<input id="ban_time_hours"  type="number" name="ban_time_hours" size="6" value="{{ hours }}">&nbsp;&nbsp;&nbsp;
				<label for="ban_time_minutes" data-i18n="gettext">Minutes</label>
				<input id="ban_time_minutes"  type="number" name="ban_time_minutes" size="6" value="{{ minutes }}">&nbsp;&nbsp;&nbsp;
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<input type="hidden" name="ban_id" value="{{ ban_id }}">
				<input id="ban-start-field" type="hidden" name="ban_start_time" value="{{ start_time }}">
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<label for="ban_reason" data-i18n="gettext">Ban reason:</label>
			</span>
			<span class="display-cell">
				<textarea id="ban_reason" name="ban_reason" cols="25" rows="3">{{ ban_reason }}</textarea>
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span data-i18n="gettext">Appeal</span>
			</span>
			<span class="display-cell">{{ appeal }}</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<label for="ban-appeal-response" data-i18n="gettext">Appeal Response:</label>
			</span>
			<span class="display-cell">
				<textarea id="ban-appeal-response" name="ban_appeal_response" cols="25" rows="3">{{ appeal_response }}</textarea>
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<label for="address_type" data-i18n="gettext">Appeal status:</label>
			</span>
			<span class="display-cell">
				<select id="ban_appeal_status" name="ban_appeal_status">
					<option value="0" data-i18n="gettext" {{ appeal_status_0 }}>No appeal received</option>
					<option value="1" data-i18n="gettext" {{ appeal_status_1 }}>Appeal received; not reviewed</option>
					<option value="2" data-i18n="gettext" {{ appeal_status_2 }}>Appeal denied</option>
					<option value="3" data-i18n="gettext" {{ appeal_status_3 }}>Appeal accepted; ban modified</option>
				</select>
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<input type="submit" value="Update Ban" data-i18n-attributes="gettext|value">
			</span>
		</div>
	</div>
</form>