<form accept-charset="utf-8" action="{{ form_action }}" method="post" enctype="multipart/form-data">
	<div class="display-table">
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-i18n="gettext">General Settings</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# name }}
			{{> panels/pieces/settings_text }}
		{{/ name }}
		{{# show_name }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_name }}
		{{# slogan }}
			{{> panels/pieces/settings_text }}
		{{/ slogan }}
		{{# show_slogan }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_slogan }}
		{{# favicon }}
			{{> panels/pieces/settings_text }}
		{{/ favicon }}
		{{# show_favicon }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_favicon }}
		{{# banner }}
			{{> panels/pieces/settings_text }}
		{{/ banner }}
		{{# show_banner }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_banner }}
		{{# locale }}
			{{> panels/pieces/settings_text }}
		{{/ locale }}
		{{# date_format }}
			{{> panels/pieces/settings_text }}
		{{/ date_format }}
		{{# abbreviate_thread }}
			{{> panels/pieces/settings_number }}
		{{/ abbreviate_thread }}
		{{# threads_per_page }}
			{{> panels/pieces/settings_number }}
		{{/ threads_per_page }}
		{{# page_limit }}
			{{> panels/pieces/settings_number }}
		{{/ page_limit }}
		{{# thread_buffer }}
			{{> panels/pieces/settings_number }}
		{{/ thread_buffer }}
		{{# max_posts }}
			{{> panels/pieces/settings_number }}
		{{/ max_posts }}
		{{# max_bumps }}
			{{> panels/pieces/settings_number }}
		{{/ max_bumps }}
		{{# old_threads }}
			{{> panels/pieces/settings_select }}
		{{/ old_threads }}
		{{# max_archive_threads }}
			{{> panels/pieces/settings_number }}
		{{/ max_archive_threads }}
		{{# do_archive_pruning }}
			{{> panels/pieces/settings_checkbox }}
		{{/ do_archive_pruning }}
		{{# template_id }}
			{{> panels/pieces/settings_text }}
		{{/ template_id }}
		{{# icon_set_id }}
			{{> panels/pieces/settings_text }}
		{{/ icon_set_id }}
		{{# display_render_timer }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_render_timer }}
		{{# enable_dynamic_pages }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_dynamic_pages }}
		{{# generate_catalog }}
			{{> panels/pieces/settings_checkbox }}
		{{/ generate_catalog }}
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-i18n="gettext">Posting Parameters</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# require_content_start }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_content_start }}
		{{# require_content_always }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_content_always }}
		{{# check_thread_duplicates }}
			{{> panels/pieces/settings_checkbox }}
		{{/ check_thread_duplicates }}
		{{# check_op_duplicates }}
			{{> panels/pieces/settings_checkbox }}
		{{/ check_op_duplicates }}
		{{# force_anonymous }}
			{{> panels/pieces/settings_checkbox }}
		{{/ force_anonymous }}
		{{# allow_tripkeys }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_tripkeys }}
		{{# allow_multifile }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_multifile }}
		{{# allow_op_multifile }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_op_multifile }}
		{{# use_fgsfds }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_fgsfds }}
		{{# fgsfds_name }}
			{{> panels/pieces/settings_text }}
		{{/ fgsfds_name }}
		{{# max_post_files }}
			{{> panels/pieces/settings_number }}
		{{/ max_post_files }}
		{{# thread_cooldown }}
			{{> panels/pieces/settings_number }}
		{{/ thread_cooldown }}
		{{# reply_cooldown }}
			{{> panels/pieces/settings_number }}
		{{/ reply_cooldown }}
		{{# max_name_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_name_length }}
		{{# max_email_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_email_length }}
		{{# max_subject_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_subject_length }}
		{{# max_comment_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_comment_length }}
		{{# comment_display_lines }}
			{{> panels/pieces/settings_number }}
		{{/ comment_display_lines }}
		{{# truncate_long_fields }}
			{{> panels/pieces/settings_checkbox }}
		{{/ truncate_long_fields }}
		{{# filter_combining_characters }}
			{{> panels/pieces/settings_checkbox }}
		{{/ filter_combining_characters }}
		{{# max_filesize }}
			{{> panels/pieces/settings_number }}
		{{/ max_filesize }}
		{{# enable_spoilers }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_spoilers }}
		{{# deleted_content_placeholder }}
			{{> panels/pieces/settings_checkbox }}
		{{/ deleted_content_placeholder }}
		{{# use_post_captcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_post_captcha }}
		{{# use_post_recaptcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_post_recaptcha }}
		{{# use_report_captcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_report_captcha }}
		{{# use_report_recaptcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_report_recaptcha }}
		{{# use_honeypot }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_honeypot }}
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-i18n="gettext">Content Handling and Rendering</span>
			</span>
			{{# show-locked }}
			<span class="display-cell"></span>
			{{/ show-locked }}
		</div>
		{{# preferred_filename }}
			{{> panels/pieces/settings_select }}
		{{/ preferred_filename }}
		{{# use_preview }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_preview }}
		{{# use_file_icon }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_file_icon }}
		{{# use_png_preview }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_png_preview }}
		{{# animated_gif_preview }}
			{{> panels/pieces/settings_checkbox }}
		{{/ animated_gif_preview }}
		{{# file_sha256 }}
			{{> panels/pieces/settings_checkbox }}
		{{/ file_sha256 }}
		{{# file_sha512 }}
			{{> panels/pieces/settings_checkbox }}
		{{/ file_sha512 }}
		{{# max_files_row }}
			{{> panels/pieces/settings_number }}
		{{/ max_files_row }}
		{{# jpeg_quality }}
			{{> panels/pieces/settings_number }}
		{{/ jpeg_quality }}
		{{# png_compression }}
			{{> panels/pieces/settings_number }}
		{{/ png_compression }}
		{{# max_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_width }}
		{{# max_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_height }}
		{{# max_multi_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_multi_width }}
		{{# max_multi_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_multi_height }}
		{{# max_catalog_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_catalog_width }}
		{{# max_catalog_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_catalog_height }}
		{{# indent_marker }}
			{{> panels/pieces/settings_text }}
		{{/ indent_marker }}
		{{# tripkey_marker }}
			{{> panels/pieces/settings_text }}
		{{/ tripkey_marker }}
		{{# no_comment_text }}
			{{> panels/pieces/settings_text }}
		{{/ no_comment_text }}
		{{# display_post_backlinks }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_post_backlinks }}
		{{# poster_id_colors }}
			{{> panels/pieces/settings_checkbox }}
		{{/ poster_id_colors }}
		{{# display_poster_id }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_poster_id }}
		{{# max_cite_links }}
			{{> panels/pieces/settings_number }}
		{{/ max_cite_links }}
		{{# create_url_links }}
			{{> panels/pieces/settings_checkbox }}
		{{/ create_url_links }}
		{{# url_protocols }}
			{{> panels/pieces/settings_text }}
		{{/ url_protocols }}
		{{# url_prefix }}
			{{> panels/pieces/settings_text }}
		{{/ url_prefix }}
		{{# exclude_from_overboards }}
			{{> panels/pieces/settings_checkbox }}
		{{/ exclude_from_overboards }}
		{{# user_delete_own }}
			{{> panels/pieces/settings_checkbox }}
		{{/ user_delete_own }}
	</div>
	{{# enabled_filetypes }}
	<div class="display-table text-left">
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-i18n="gettext">Filetype Enabling</span>
			</span>
			{{# show-locked }}
			<span class="display-cell"></span>
			{{/ show-locked }}
		</div>
		{{# show_lock_update }}
		<div class="display-row">
			{{> panels/pieces/settings_lock_update }}
		</div>
		{{/ show_lock_update }}

		{{# file_types }}
		{{# type_select }}
		<div class="display-row">
			<span class="display-cell">
				<br>
				<input type="hidden" name="{{ input_name }}[default]" value="0">
				<input id="{{ name }}" type="checkbox" name="{{ input_name }}[value]" value="1" {{ value }} {{ disabled }}>
				<label for="{{ name }}" class="bold">{{ label }}</label>
			</span>
		</div>
		{{/ type_select }}
		{{# entry_rows }}
		<div class="display-row">
			{{# entry }}
			<span class="display-cell">
				<input type="hidden" name="{{ input_name }}[default]" value="0">
				<input id="{{ format }}" type="checkbox" name="{{ input_name }}[value]" value="1" {{ value }} {{ disabled }}>
				<label for="{{ format }}">{{ label }}</label>
			</span>
			{{/ entry }}
		</div>
		{{/ entry_rows }}
		{{/ file_types }}
	</div>
	{{/ enabled_filetypes }}

	<div>
		<input type="submit" value="Update Settings" data-i18n-attributes="gettext|value">
	</div>
</form>
