<form accept-charset="utf-8" action="{{ form_action }}" method="post">
	<div class="display-table">
{{# new_category }}
		<div class="display-row">
			<label for="category" class="display-cell" data-i18n="">Category</label>
			<input id="category" class="display-cell" type="text" name="category" value="{{ category }}" required="required">
		</div>
{{/ new_category }}
		<div class="display-row">
			<label for="label" class="display-cell" data-i18n="">Label</label>
			<input id="label" class="display-cell" type="text" name="label" value="{{ label }}" required="required">
		</div>
		<div class="display-row">
			<label for="enabled" class="display-cell" data-i18n="">Enabled</label>
			<input id="enabled" class="display-cell" type="checkbox" value="1" name="enabled" {{ enabled_checked }}>
		</div>
		<div class="display-row">
			<input type="submit" value="Update Category" data-i18n-attributes="value">
		</div>
	</div>
</form>