<table >
	<caption data-i18n="">Installed image sets</caption>
	<thead>
		<tr>
			<th scope="col" data-i18n="">Image Set ID</th>
			<th scope="col" data-i18n="">Name</th>
			<th scope="col" data-i18n="">Directory</th>
			<th scope="col" data-i18n="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# installed_list }}
		<tr class="{{ bgclass }}">
			<td>{{ id }}</td>
			<td>{{ name }}</td>
			<td>{{ directory }}</td>
			<td>
				<span class="text-button">[<a class="display-cell" href="{{ remove_url }}" data-i18n="">Uninstall Image Set</a>]</span>
			</td>
		</tr>
{{/ installed_list }}
	</tbody>
</table>
<hr>
<table >
	<caption data-i18n="">Available image sets</caption>
	<thead>
		<tr>
			<th scope="col" data-i18n="">Image Set ID</th>
			<th scope="col" data-i18n="">Name</th>
			<th scope="col" data-i18n="">Directory</th>
			<th scope="col" data-i18n="">Installed</th>
			<th scope="col" data-i18n="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# available_list }}
		<tr class="{{ bgclass }}">
			<td>{{ id }}</td>
			<td>{{ name }}</td>
			<td>{{ directory }}</td>
			<td>
	{{^ is_installed }}
				<span data-i18n="">No</span>
	{{/ is_installed }}
	{{# is_installed }}
				<span data-i18n="">Yes</span>
	{{/ is_installed }}
			</td>
			<td>
	{{^ is_installed }}
				<span class="text-button">[<a class="display-cell" href="{{ install_url }}" data-i18n="">Install Image Set</a>]</span>
	{{/ is_installed }}
			</td>
		</tr>
{{/ available_list }}
	</tbody>
</table>