<table class="data-table">
	<tr class="data-table-header">
		<th data-i18n="gettext">Board ID</th>
		<th data-i18n="gettext">Board URI</th>
		<th data-i18n="gettext">DB Prefix</th>
		<th data-i18n="gettext">Status</th>
		<th data-i18n="gettext">Lock/Unlock</th>
		<th data-i18n="gettext">Remove</th>
	</tr>
	{{# board_list }}
	<tr class="{{ bgclass }}">
		<td>{{ board_id }}</td>
		<td>{{ board_uri }}</td>
		<td>{{ db_prefix }}</td>
		<td>{{ status }}</td>
		<td>
			<a href="{{ lock_url }}">{{ lock_text }}</a>
		</td>
		<td>
			<a href="{{ remove_url }}">Delete Board</a>
		</td>
	</tr>
	{{/ board_list }}
</table>
<hr>
<form action="{{ form_action }}" method="post" enctype="multipart/form-data">
	<div class="display-table">
		<div class="display-row">
			<label for="new_board_id" class="display-cell" data-i18n="gettext">Board ID (this will also be the URI)</label>
			<input id="new_board_id" class="display-cell" type="text" name="new_board_id" size="30" maxlength="50" value="">
		</div>
		{{# alphanumeric_only }}
		<div class="display-row">
			<span class="display-cell" data-i18n="gettext">Only alphanumeric board IDs are allowed!</span>
			<span class="display-cell"></span>
		</div>
		{{/ alphanumeric_only }}
		<div class="display-row">
			<input type="submit" value="Create Board" data-i18n-attributes="gettext|value">
		</div>
	</div>
</form>