{{% FILTERS }}
<table class="data-table">
	<tr class="manage-header">
		<th data-i18n="gettext">Post Number</th>
		<th data-i18n="gettext">Thread</th>
		<th data-i18n="gettext">Time</th>
		<th data-i18n="gettext">IP</th>
		<th data-i18n="gettext">Name</th>
		<th data-i18n="gettext">Email</th>
		<th data-i18n="gettext">Subject</th>
		<th data-i18n="gettext">Comment</th>
		<th data-i18n="gettext">Actions</th>
	</tr>
	{{# posts }}
	<tr class="{{ bgclass }}">
		<td>{{ post_number }}</td>
		<td>{{ parent_thread }}</td>
		<td>{{ post_time }}</td>
		<td>{{ poster_ip }}</td>
		<td>{{ poster_name }}</td>
		<td>{{ email }}</td>
		<td>
			<a href="{{ thread_url }}" rel="external">{{ subject }}</a>
		</td>
		<td>{{ comment }}</td>
		<td>
			<span>[<a href="{{ sticky_url }}">{{ sticky_text }}</a>]&nbsp;</span>
			<span>[<a href="{{ delete_url }}">{{ delete_text }}</a>]</span>
		</td>
	</tr>
	{{/ posts }}
</table>