<table class="data-table">
	<tr class="data-table-header">
		<th data-i18n="gettext">Expand</th>
		<th data-i18n="gettext">First Post</th>
		<th data-i18n="gettext">Last Updated</th>
		<th data-i18n="gettext">Subject</th>
		<th data-i18n="gettext">Name</th>
		<th data-i18n="gettext">Host</th>
		<th data-i18n="gettext">Total Posts</th>
		<th data-i18n="gettext">Total Files</th>
		<th data-i18n="gettext">Actions</th>
	</tr>
	{{# threads }}
	<tr class="{{ bgclass }}">
		<td>
			<span>[<a href="{{ expand_url }}" data-i18n="gettext">Expand Thread</a>]</span>
		</td>
		<td>{{ thread_id }}</td>
		<td>{{ last_update }}</td>
		<td>
			<a href="{{ thread_url }}" rel="external">{{ subject }}</a>
		</td>
		<td>{{ op_name }}</td>
		<td>{{ op_ip }}</td>
		<td>{{ post_count }}</td>
		<td>{{ content_count }}</td>
		<td>
			<span>[<a href="{{ sticky_url }}">{{ sticky_text }}</a>]&nbsp;</span>
			<span>[<a href="{{ lock_url }}">{{ lock_text }}</a>]&nbsp;</span>
			<span>[<a href="{{ delete_url }}">{{ delete_text }}</a>]</span>
		</td>
	</tr>
	{{/ threads }}
</table>