<p>
	<span class="label" data-i18n="gettext">You have been banned from:</span>
	<span class="bold">{{ ban_board }}</span>
</p>
<p>
	<span class="label" data-i18n="gettext">Set on:</span>
	<span class="bold">{{ ban_time }}</span>
</p>
<p>
	<span class="label" data-i18n="gettext">Expires on:</span>
	<span class="bold">{{ ban_expiration }}</span>
</p>
<p>
	<span class="label" data-i18n="gettext">Remaining time until expiration:</span>
	<span class="bold">{{ ban_length }}</span>
</p>
<p>
	<span class="label" data-i18n="gettext">Your current IP:</span>
	<span class="bold">{{ ban_ip }}</span>
</p>
<p>
	<span class="label" data-i18n="gettext">The reason for your ban:</span>
	<span class="bold">{{ ban_reason }}</span>
</p>
{{# appeal_allowed }}
	{{^ appealed }}
<form accept-charset="utf-8" name="postingform" action="{{ form_action }}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="ban_id" value="{{ ban_id }}">
	<p>
		<label for="bawww" data-i18n="gettext">If you wish, you may appeal this ban. Enter your reason why you should get unbanned in the box below. A staff member will (probably) review it.</label>
	</p>
	<textarea id="bawww" name="bawww" cols="30" rows="6"></textarea>
	<input class="display-block" type="submit" value="{{# gettext }}Submit Appeal{{/ gettext }}">
</form>
	{{/ appealed }}
{{/ appeal_allowed }}
{{# is_range }}
<p>{{# gettext }}This is part of a range ban. You cannot appeal it.{{/ gettext }}</p>
{{/ is_range }}
{{^ min_time_met }}
<p>{{# gettext }}The minimum time before appealing has not elapsed or the ban is too short to appeal.{{/ gettext }}</p>
{{/ min_time_met }}
{{# appealed }}
	{{# reviewed }}
<p>{{# gettext }}You have already appealed this ban but the appeal has not been reviewed yet.{{/ gettext }}</p>
	{{/ reviewed }}
	{{# responded }}
		{{# appeal_denied }}
<p>{{# gettext }}You appeal has been reviewed and denied. You cannot appeal again.{{/ gettext }}</p>
		{{/ appeal_denied }}
		{{# appeal_modified }}
<p>{{# gettext }}Your appeal has been reviewed and the ban has been altered.{{/ gettext }}</p>
		{{/ appeal_modified }}
		{{# show_response }}
<p>
	<span class="label">{{# gettext }}This is the response to your appeal:{{/ gettext }}</span>
	<span>{{ appeal_response }}</span>
</p>
		{{/ show_response }}
	{{/ responded }}
{{/ appealed }}
