:root {
	--main-background: #8DD3EA;
	--main-color: #162F00;
	--base-font-family: serif;
	--base-font-size: 100%;
	--hr-color: #008866;
	--link-color: #3322CC;
	--link-visited-color: #3322CC;
	--link-hover-color: #AA2255;
	--h1-color: #9F069E;
	--h2-color: #9F069E;
	--h3-color: #9F069E;
	--table-background: #EEEEEE;
	--table-color: inherit;
	--table-header-background: #44AAFF;
	--table-header-color: inherit;
	--table-row1-background: #99CCFF;
	--table-row1-color: inherit;
	--table-row2-background: #BBEEFF;
	--table-row2-color: inherit;
	--manage-header-background: #33DDAA;
	--manage-header-color: inherit;
	--manage-subheader-background: #55FFBB;
	--manage-subheader-color: inherit;
	--new-post-form-label-background: #44CF69;
	--new-post-form-label-border: 1px solid #22AD47;
	--op-post-background: inherit;
	--op-post-border: none;
	--op-post-highlight-color: #AADFF2;
	--op-post-name-color: #CC0077;
	--op-post-subject-color: #6611BB;
	--op-post-comments-color: inherit;
	--reply-post-background: #7BE89B;
	--reply-post-border: 1px solid #6AD79B;
	--reply-post-highlight-color: #AADFF2;
	--reply-post-name-color: #CC0077;
	--reply-post-subject-color: #6611BB;
	--reply-post-comments-color: inherit;
	--mod-comment-background: inherit;
	--mod-comment-color: #FF0000;
	--omitted-background: inherit;
	--omitted-color: #5500CC;
	
	/* Markup */
	--greentext-background: inherit;
	--greentext-color: #AA0031;
	--pinktext-background: inherit;
	--pinktext-color: #F20088;
	--orangetext-background: inherit;
	--orangetext-color: #F95200;
	--external-link-text-decoration: underline;
	--spoiler-color: #000000;
	--unspoiler-color: #EEEEEE;
	--post-cite-text-decoration: underline;
	--board-cite-text-decoration: underline;
	--invalid-cite-text-decoration: line-through;
	
	--news-article-background: #7BE89B;
	--news-article-header-background: #33DDAA;
	--news-headline-color: inherit;
	--news-paragraph-color: inherit;
	--thread-status-icon-color: invert(22%) sepia(80%) saturate(3336%) hue-rotate(290deg) brightness(74%) contrast(120%);
	--boards-navigation-align: center;
	--ban-page-background: #7BE89B;
	--ban-paragraph-color: inherit;
}
