:root {
	--main-background: #EEF2FF;
	--main-color: #000000;
	--base-font-family: sans-serif;
	--base-font-size: 100%;
	--hr-color: inherit;
	--link-color: #34345C;
	--link-visited-color: #34345C;
	--link-hover-color: #DD0000;
	--h1-color: #AF0A0F;
	--h2-color: #AF0A0F;
	--data-table-background: #FFFFFF;
	--data-table-color: inherit;
	--data-table-header-background: #0F8FE1;
	--data-table-header-color: inherit;
	--data-table-row1-background: #9AD2F6;
	--data-table-row1-color: inherit;
	--data-table-row2-background: #FFFFFF;
	--data-table-row2-color: inherit;
	--manage-header-background: #9988EE;
	--manage-header-color: #FFFFFF;
	--manage-subheader-background: #BBAAFF;
	--manage-subheader-color: #FFFFFF;
	--posting-form-label-background: #9988EE;
	--posting-form-label-border: 1px solid #7766EE;
	--op-background: inherit;
	--op-border: none;
	--op-highlight-color: #AABBFF;
	--op-name-color: #117743;
	--op-subject-color: #0F0C5D;
	--reply-background: #D6DAF0;
	--reply-border: 1px solid #B4B8F0;
	--reply-highlight-color: #AABBFF;
	--reply-name-color: #117743;
	--reply-subject-color: #0F0C5D;
	--mod-comment-background: inherit;
	--mod-comment-color: #FF0000;
	--omitted-background: inherit;
	--omitted-color: #070707;
	--greentext-background: #C4C2EE;
	--greentext-color: #FFFFFF;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.rules {
    font-size: 0.65rem;
}

.omitted-posts {
	font-size: 1.2rem;
	font-family: serif;	
}

.fileinfo {
    font-size: 0.8rem;
    text-decoration: underline;
}

.multiple-fileinfo {
    font-size: 0.8rem;
    text-decoration: underline;
}

.op-poster-name {
    font-size: 0.8rem;
    font-family: serif;
}

.op-subject {
	font-size: 1.2rem;
	font-family: serif;
}

.reply-poster-name {
    font-size: 0.8rem;
    font-family: serif;
}

.reply-subject {
	font-size: 1.2rem;
	font-family: serif;
}

.footer {
    font-size: 0.65rem;
}