<h1>You are banned!</h1>
<div class="ban-page">
{{# global }}
	<p class="ban-paragraph">
		<span data-i18n="">You have been globally banned from all boards due to:</span>
	</p>
{{/ global }}
{{^ global }}
	<p class="ban-paragraph">
		You have been banned from <b>{{ ban_board }}</b> due to:
	</p>
{{/ global }}

	<p class="ban-paragraph">
		<b>{{ ban_reason }}</b>
	</p>
	<p class="ban-paragraph">
		This ban was set on <b>{{ ban_time }}</b>{{# creator }} by {{ creator }}<b>{{/ creator }}</b>. It will expire on <b>{{ ban_expiration }}</b> which is <b>{{ ban_length }}</b> from now.
	</p>
	<p class="ban-paragraph">
		<span data-i18n="">Your ip is</span> {{ ban_ip }}
	</p>
{{# extra_text }}
	<p class="ban-paragraph">
		{{{ extra_text }}}
	</p>
{{/ extra_text }}
{{# appeal_allowed }}
	{{^ pending }}
	<form accept-charset="utf-8" name="ban_appeal_form" action="{{ form_action }}" method="post" enctype="multipart/form-data" class="ban-paragraph">
		<input type="hidden" name="ban_id" value="{{ ban_id }}">
		<p>
			<label for="bawww" data-i18n="">You are allowed to appeal this ban. Enter your reason why you should get unbanned in the field below. A staff member will (probably) review it.</label>
		</p>
		<textarea id="bawww" name="bawww" cols="30" rows="6"></textarea>
		<input class="display-block" type="submit" value="Submit Appeal" data-i18n-attributes="value">
	</form>
	{{/ pending }}
{{/ appeal_allowed }}
{{# not_this_ban }}
	<p class="ban-paragraph" data-i18n="">You are not allowed to appeal this ban.</p>
{{/ not_this_ban }}
{{# no_ip_range }}
	<p class="ban-paragraph" data-i18n="">This is part of a range ban. You cannot appeal it.</p>
{{/ no_ip_range }}
{{# min_time_not_met }}
	<p class="ban-paragraph" data-i18n="">Minimum time before appealing this ban has not been reached.</p>
{{/ min_time_not_met }}
{{# appealed }}
	{{# pending }}
	<p class="ban-paragraph" data-i18n="">An appeal was been filed for this ban but has not been reviewed yet.</p>
	{{/ pending }}
	{{# previous_responded }}
		{{# previous_denied }}
	<p class="ban-paragraph" data-i18n="">The previous appeal was reviewed and denied.</p>
		{{/ previous_denied }}
		{{# previous_modified }}
	<p class="ban-paragraph" data-i18n="">The previous appeal has been reviewed and the ban has been altered.</p>
		{{/ previous_modified }}
		{{# show_response }}
	<p class="ban-paragraph">
		<span class="label" data-i18n="">This is the response to the previous appeal:</span>
		<b>{{ previous_response }}</b>
	</p>
		{{/ show_response }}
	{{/ previous_responded }}
	{{# max_appeals }}
	<p class="ban-paragraph" data-i18n="">This ban has reached the maxmimum number of appeals.</p>
	{{/ max_appeals }}
{{/ appealed }}
</div>