{{% FILTERS }}
<head>
	<meta http-equiv="content-type"  content="text/html;charset=utf-8">
	<meta name="robots" content="noarchive">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{{ main_js_file }}"></script>
	<script src="{{ js_ui_url }}"></script>
	<script>{{{ js_onload }}}</script>
	<script>{{{ js_set_style }}}</script>
{{# stylesheets }}
	<link rel="{{ stylesheet }}" data-style-type="style-board"  type="text/css" href="{{ stylesheet_url }}" data-id="{{ style_id }}" title="{{ style_name }}">
{{/ stylesheets }}
{{# show_favicon }}
	<link rel="icon" href="{{ favicon_url }}">
{{/ show_favicon }}
	<title>{{ page_title }}</title>
{{# use_honeypot }}
	<style>{{ honeypot_css }}</style>
{{/ use_honeypot }}
</head>
