:root {
	--main-background: #FFFFEE;
	--main-color: #800000;
	--base-font-family: serif;
	--base-font-size: 100%;
	--hr-color: inherit;
	--link-color:#0000EE ;
	--link-visited-color: #0000EE;
	--link-hover-color: #DD0000;
	--h1-color: #800000;
	--h2-color: #800000;
	--data-table-background: #FFFFFF;
	--data-table-color: inherit;
	--data-table-header-background: #0F8FE1;
	--data-table-header-color: inherit;
	--data-table-row1-background: #9AD2F6;
	--data-table-row1-color: inherit;
	--data-table-row2-background: #FFFFFF;
	--data-table-row2-color: inherit;
	--manage-header-background: #EEAA88;
	--manage-header-color: #FFFFFF;
	--manage-subheader-background: #FFCCAA;
	--manage-subheader-color: #FFFFFF;
	--posting-form-label-background: #EEAA88;
	--posting-form-label-border: none;
	--op-post-background: inherit;
	--op-post-border: none;
	--op-post-highlight-color: #AABBFF;
	--op-post-name-color: #117743;
	--op-post-subject-color: #CC1105;
	--op-post-comments-color: inherit;
	--reply-post-background: #F0E0D6;
	--reply-post-border: 1px solid #D0C0D6;
	--reply-post-highlight-color: #AABBFF;
	--reply-post-name-color: #117743;
	--reply-post-subject-color: #CC1105;
	--reply-post-comments-color: inherit;
	--mod-comment-background: inherit;
	--mod-comment-color: #FF0000;
	--omitted-background: inherit;
	--omitted-color: #070707;
	--greentext-background: inherit;
	--greentext-color: #789922;
	--news-article-background: #F0E0D6;
	--news-article-header-background: #EEAA88;
	--news-headline-color: inherit;
	--news-paragraph-color: inherit;
}

.posting-rules-list {
    font-size: 0.65rem;
}

.omitted-posts {
	font-size: 1.2rem;
}

.op.subject {
	font-size: 1.2rem;
}

.reply.subject {
	font-size: 1.2rem;
}
