<nav class="site-navigation">
	<span>[<a href="{{ home_url }}" data-i18n="gettext" target="_top">Home</a>]</span>
	<span>[<a href="{{ news_url }}" data-i18n="gettext">News</a>]</span>
	{{# overboard_active }}
	<span>[<a href="{{ overboard_url }}" data-i18n="gettext">Overboard</a>]</span>
	{{/ overboard_active }}
	{{# sfw_overboard_active }}
	<span>[<a href="{{ sfw_overboard_url }}" data-i18n="gettext">SFW Overboard</a>]</span>
	{{/ sfw_overboard_active }}
	<span>[<a href="{{ about_nelliel_url }}" data-i18n="gettext">About Nelliel</a>]</span>
	<span> | </span>
	<span>[<a href="{{ account_url }}" data-i18n="gettext">Account</a>]</span>
	{{# session_active }}
	{{# board_area }}
	<span>[<a href="{{ board_panel_url }}" data-i18n="gettext">Board Panel</a>]</span>
	{{/ board_area }}
	<span>[<a href="{{ site_panel_url }}" data-i18n="gettext">Site Panel</a>]</span>
	<span>[<a href="{{ logout_url }}" data-i18n="gettext">Logout</a>]</span>
	{{/ session_active }}
</nav>
