<!DOCTYPE html>
<html>
	{{> pieces/head }}
	<body>
		<p data-i18n="">Enter the install key to continue.</p>
		<form accept-charset="utf-8" action="imgboard.php?install&step=verify-install-key" method="post">
			<div class="display-table">
				<div class="display-row">
					<label for="install_key" class="display-cell display-cell form-label" data-i18n="">Install Key</label>
					<input id="install_key" class="display-cell display-cell form-input" type="text" name="install_key" maxlength="255">
				</div>
				<div class="display-row">
					<input class="display-cell form-input" type="submit" value="Submit" data-i18n-attributes="value">
				</div>
			</div>
		</form>
	</body>
</html>