:root {
	--main-background: #101010;
	--main-color: #DDDDDD;
	--base-font-family: serif;
	--base-font-size: 100%;
	--hr-color: #555555;
	--link-color: #88BBCC;
	--link-visited-color: #88BBCC;
	--link-hover-color: #CCBB88;
	--h1-color: #CC0000;
	--h2-color: #CC0000;
	--h3-color: #CC0000;
	--table-background: #999999;
	--table-color: inherit;
	--table-header-background: ;
	--table-header-color: inherit;
	--table-row1-background: #303030;
	--table-row1-color: inherit;
	--table-row2-background: #505050;
	--table-row2-color: inherit;
	--manage-header-background: #404040;
	--manage-header-color: inherit;
	--manage-subheader-background: #606060;
	--manage-subheader-color: inherit;
	--new-post-form-label-background: #303030;
	--new-post-form-label-border: 1px solid #101010;
	--op-post-background: inherit;
	--op-post-border: none;
	--op-post-highlight-color: #777777;
	--op-post-name-color: #33DD5F;
	--op-post-subject-color: #BB66BB;
	--op-post-comments-color: inherit;
	--reply-post-background: #2A2A2A;
	--reply-post-border: 1px solid #114499;
	--reply-post-highlight-color: #777777;
	--reply-post-name-color: #33DD5F;
	--reply-post-subject-color: #BB66BB;
	--reply-post-comments-color: inherit;
	--mod-comment-background: inherit;
	--mod-comment-color: #FF0000;
	--omitted-background: inherit;
	--omitted-color: #22BB88;

	/* Markup */
	--greentext-background: inherit;
	--greentext-color: #008800;
	--pinktext-background: inherit;
	--pinktext-color: #FF7B92;
	--orangetext-background: inherit;
	--orangetext-color: #FF8447;
	--external-link-text-decoration: underline;
	--spoiler-color: #999999;
	--unspoiler-color: #000000;
	--post-cite-text-decoration: underline;
	--board-cite-text-decoration: underline;
	--invalid-cite-text-decoration: line-through;

	--news-article-background: #2A2A2A;
	--news-article-header-background: #404040;
	--news-headline-color: inherit;
	--news-paragraph-color: inherit;
	--thread-status-icon-color: invert(60%) sepia(50%) saturate(2796%) hue-rotate(11deg) brightness(107%) contrast(94%);
	--boards-navigation-align: center;
	--ban-page-background: #2A2A2A;
	--ban-paragraph-color: inherit;
}
