<p class="{{ post_comments_class }}">
{{# comment_lines }}
	{{# line_parts }}{{> thread/pieces/comment_line }}{{/ line_parts }}
{{/ comment_lines }}
</p>
<p class="{{ post_disclaimer_class }}">
	{{ content_disclaimer }}
</p>
<p class="mod-comment">
{{# mod_comment }}
	{{ mod_comment }}
{{/ mod_comment }}
</p>
<p>
{{# index_render }}
	<span data-i18n="gettext">This is a long comment.</span>&nbsp;<a href="{{ post_url }}" data-i18n="gettext">Click here for the full text</a>
{{/ index_render }}
</p>
