<div>
	[<a href="{{ return_url }}" data-i18n="gettext">Return</a>]
</div>
{{# posting_form }}
	{{> thread/posting_form }}
{{/ posting_form }}
<hr class="clear">
<form class="content-page" accept-charset="utf-8" action="{{ form_action }}" method="post">
	<div id="{{ thread_corral_id }}" class="thread-corral" data-jsevents="click|mouseover|mouseout">
{{# op_post }}
		{{> thread/post }}
{{/ op_post }}
		<div id="{{ thread_expand_id }}">
{{# thread_posts }}
			{{> thread/post }}
{{/ thread_posts }}
		</div>
	</div>
	<hr class="clear">
{{# footer_form }}
	{{> thread/footer_form }}
{{/ footer_form }}
</form>
{{# show_styles }}
	{{> menu/styles }}
{{/ show_styles }}
