:root {
	--main-background: #8DD3EA;
	--main-color: #162F00;
	--base-font-family: serif;
	--base-font-size: 100%;
	--hr-color: #008866;
	--link-color: #3322CC;
	--link-visited-color: #3322CC;
	--link-hover-color: #AA2255;
	--h1-color: #9F069E;
	--h2-color: #9F069E;
	--data-table-background: #FFFFFF;
	--data-table-color: inherit;
	--data-table-header-background: #33AAFF;
	--data-table-header-color: inherit;
	--data-table-row1-background: #99CCFF;
	--data-table-row1-color: inherit;
	--data-table-row2-background: #BBEEFF;
	--data-table-row2-color: inherit;
	--manage-header-background: #33DDAA;
	--manage-header-color: inherit;
	--manage-subheader-background: #55FFBB;
	--manage-subheader-color: inherit;
	--posting-form-label-background: #44CF69;
	--posting-form-label-border: 1px solid #22AD47;
	--op-post-background: inherit;
	--op-post-border: none;
	--op-post-highlight-color: #AADFF2;
	--op-post-name-color: #CC0077;
	--op-post-subject-color: #6611BB;
	--op-post-comments-color: inherit;
	--reply-post-background: #7BE89B;
	--reply-post-border: 1px solid #6AD79B;
	--reply-post-highlight-color: #AADFF2;
	--reply-post-name-color: #CC0077;
	--reply-post-subject-color: #6611BB;
	--reply-post-comments-color: inherit;
	--mod-comment-background: inherit;
	--mod-comment-color: #FF0000;
	--omitted-background: inherit;
	--omitted-color: #5500CC;
	--quote-background: inherit;
	--quote-color: #992244;
	--news-article-background: #7BE89B;
	--news-article-header-background: #33DDAA;
	--news-headline-color: inherit;
	--news-paragraph-color: inherit;
}
