<!DOCTYPE html>
<html>
	{{> pieces/head }}
	<body>
		<p data-i18n="">Enter configuration values for this MariaDB database.</p>
		<form accept-charset="utf-8" action="imgboard.php?install&step=complete-database-config" method="post">
			<input type="hidden" name="database_type" value="MARIADB">
			<div class="display-table">
				<div class="display-row">
					<label for="database" class="display-cell form-label" data-i18n="">Database</label>
            		<input id="database" class="display-cell form-input" type="text" name="database" value="">
				</div>
				<div class="display-row">
					<label for="timeout" class="display-cell form-label" data-i18n="">Timeout</label>
					<input id="timeout" class="display-cell form-input" type="number" name="timeout" min="0" value="30">
				</div>
				<div class="display-row">
					<label for="host" class="display-cell form-label" data-i18n="">Host</label>
					<input id="host" class="display-cell form-input" type="text" name="host" value="localhost">
				</div>
				<div class="display-row">
					<label for="port" class="display-cell form-label" data-i18n="">Port</label>
					<input id="port" class="display-cell form-input" type="number" name="post" min="0" value="3306">
				</div>
				<div class="display-row">
					<label for="user" class="display-cell form-label" data-i18n="">User</label>
					<input id="user" class="display-cell form-input" type="text" name="user" value="">
				</div>
				<div class="display-row">
					<label for="password" class="display-cell form-label" data-i18n="">Password</label>
					<input id="password" class="display-cell form-input" type="text" name="password" value="">
				</div>
				<div class="display-row">
					<label for="encoding" class="display-cell form-label" data-i18n="">Encoding</label>
					<input id="encoding" class="display-cell form-input" type="text" name="encoding" value="utf8mb4">
				</div>
				<div class="display-row">
					<input class="display-cell form-input" type="submit" value="Submit" data-i18n-attributes="value">
				</div>
			</div>
		</form>
	</body>
</html>