<!DOCTYPE html>
<html>
	{{> pieces/head }}
	<body>
		<p data-i18n="">Select the type of database to use.</p>
		<form accept-charset="utf-8" action="imgboard.php?install&step=database-config" method="post">
			<div class="display-table">
				<div class="display-row">
					<label for="database_type" class="display-cell form-label" data-i18n="">Type</label>
					<select id="database_type" class="display-cell form-input" name="database_type">
{{# drivers }}
						<option value="{{ value }}">{{ label }}</option>
{{/ drivers }}
					</select>
				</div>
				<div class="display-row">
					<input class="display-cell form-input" type="submit" value="Select" data-i18n-attributes="value">
				</div>
			</div>
		</form>
	</body>
</html>