<!DOCTYPE html>
<html>
	{{> pieces/head }}
	<body>
		<p data-i18n="">Enter configuration values for this SQLite database.</p>
		<p data-i18n="">NOTE: If the Path field is set, it will be treated as an absolute path. When left empty, the database file will be placed in the core directory (the default location).</p>
		<form accept-charset="utf-8" action="imgboard.php?install&step=complete-database-config" method="post">
			<div class="display-table">
				<input type="hidden" name="database_type" value="SQLITE">
				<div class="display-row">
					<label for="file_name" class="display-cell form-label" data-i18n="">File name</label>
					<input id="file_name" class="display-cell form-input" type="text" name="file_name" value="nelliel.sqlite">
				</div>
				<div class="display-row">
					<label for="timeout" class="display-cell form-label" data-i18n="">Timeout</label>
					<input id="timeout" class="display-cell form-input" type="number" name="timeout" min="0" value="30">
				</div>
				<div class="display-row">
					<label for="path" class="display-cell form-label" data-i18n="">Path</label>
					<input id="path" class="display-cell form-input" type="text" name="path" value="">
				</div>
				<div class="display-row">
					<label for="encoding" class="display-cell form-label" data-i18n="">Encoding</label>
					<input id="encoding" class="display-cell form-input" type="text" name="encoding" value="UTF-8">
				</div>
				<div class="display-row">
					<input class="display-cell form-input" type="submit" value="Submit" data-i18n-attributes="value">
				</div>
			</div>
		</form>
	</body>
</html>