:root {
	--main-background-color: #88BED0;
	--main-color: #162F00;
	--base-font-family: serif;
	--base-font-size: 100%;
	--hr-color: #008866;
	--link-color: #3322CC;
	--link-visited-color: #3322CC;
	--link-hover-color: #AA2255;
	--h1-color: #9F069E;
	--h2-color: #9F069E;
	--data-table-background-color: #FFFFFF;
	--data-table-color: inherit;
	--data-table-header-background-color: #33AAFF;
	--data-table-header-color: inherit;
	--data-table-row1-background-color: #99CCFF;
	--data-table-row1-color: inherit;
	--data-table-row2-background-color: #BBEEFF;
	--data-table-row2-color: inherit;
	--manage-header-background-color: #33DDAA;
	--manage-header-color: inherit;
	--manage-subheader-background-color: #55FFBB;
	--manage-subheader-color: inherit;
	--posting-form-label-background-color: #44CF69;
	--posting-form-label-border: 1px solid #22AD47;
	--op-background-color: inherit;
	--op-border: none;
	--op-highlight-color: #AADFF2;
	--op-name-color: #CC0077;
	--op-subject-color: #6611BB;
	--reply-background-color: #7FDA8F;
	--reply-border: 1px solid #5DB86D;
	--reply-highlight-color: #AADFF2;
	--reply-name-color: #CC0077;
	--reply-subject-color: #6611BB;
	--mod-comment-background-color: inherit;
	--mod-comment-color: #FF0000;
	--omitted-background-color: inherit;
	--omitted-color: #5500CC;
	--greentext-background-color: inherit;
	--greentext-color: #992244;
}
