:root {
	--main-background: #101010;
	--main-color: #DDDDDD;
	--base-font-family: serif;
	--base-font-size: 100%;
	--hr-color: #555555;
	--link-color: #88BBCC;
	--link-visited-color: #88BBCC;
	--link-hover-color: #CCBB88;
	--h1-color: #CC0000;
	--h2-color: #CC0000;
	--data-table-background: #FFFFFF;
	--data-table-color: inherit;
	--data-table-header-background: ;
	--data-table-header-color: inherit;
	--data-table-row1-background: #303030;
	--data-table-row1-color: inherit;
	--data-table-row2-background: #505050;
	--data-table-row2-color: inherit;
	--manage-header-background: #404040;
	--manage-header-color: inherit;
	--manage-subheader-background: #606060;
	--manage-subheader-color: inherit;
	--posting-form-label-background: #303030;
	--posting-form-label-border: 1px solid #101010;
	--op-background: inherit;
	--op-border: none;
	--op-highlight-color: #777777;
	--op-name-color: #33DD5F;
	--op-subject-color: #BB66BB;
	--reply-background: #2A2A2A;
	--reply-border: 1px solid #114499;
	--reply-highlight-color: #777777;
	--reply-name-color: #33DD5F;
	--reply-subject-color: #BB66BB;
	--mod-comment-background: inherit;
	--mod-comment-color: #FF0000;
	--omitted-background: inherit;
	--omitted-color: #22BB88;
	--greentext-background: inherit;
	--greentext-color: #00CC00;
}
