<div id="{{ post_corral_id }}" class="post-corral">
	<a id="{{ post_anchor_id }}"></a>
	<div class="indents">{{ indents_marker }}</div>
	<div id="{{ post_container_id }}" class="{{ op_reply }} post">
	{{# headers }}
		{{> thread/headers/modmode }}
		<div>
		{{> thread/headers/post_options }}
		{{> thread/headers/thread_options }}
		{{> thread/headers/thread_info }}
		</div>
		<div>
		{{> thread/headers/post_info }}
		</div>
	{{/ headers }}
	{{# has_file }}
		{{> thread/content }}
	{{/ has_file }}
	{{# multi_file }}
		{{> thread/content_rows }}
	{{/ multi_file }}
	{{# post_comments }}
		{{> thread/post_comments }}
	{{/ post_comments }}
	</div>
</div>
