{{# upload_rows }}
	<div class="single upload-row">
	{{# row }}
		{{^ deleted_url }}
		{{# is_file }}
		<div id="{{ file_container_id }}">
		{{> thread/files/single_file_header }}
		{{> thread/files/file_preview }}
		</div>
		{{/ is_file }}
		{{# is_embed }}
		<div id="{{ embed_container_id }}">
		{{> thread/embeds/single_embed_header }}
		{{> thread/embeds/embed_frame }}
		</div>
		{{/ is_embed }}
		{{/ deleted_url }}
		{{# deleted_url }}
		{{> thread/pieces/deleted }}
		{{/ deleted_url }}
	{{/ row }}
	</div>
{{/ upload_rows }}