<form accept-charset="utf-8" action="{{ form_action }}" method="post" class="display-table">
	<div class="display-row">
		<span class="display-cell" data-i18n="gettext">User ID:</span>
		<input class="display-cell" type="text" name="register_user_id" size="25" maxlength="255">
	</div>
	<div class="display-row">
		<span class="display-cell" data-i18n="gettext">Password:</span>
		<input class="display-cell" type="password" name="register_super_sekrit" size="25" maxlength="255">
	</div>
	<div class="display-row">
		<span class="display-cell" data-i18n="gettext">Confirm password:</span>
		<input class="display-cell" type="password" name="register_super_sekrit_confirm" size="25" maxlength="255">
	</div>
	{{# use_register_captcha }}
		{{> pieces/captcha }}
	{{/ use_register_captcha }}
	{{# use_register_recaptcha }}
		{{> pieces/recaptcha }}
	{{/ use_register_recaptcha }}
	<div class="display-row">
		<span class="display-cell"></span><input class="display-cell" type="submit" value="Submit" data-i18n-attributes="gettext|value">
	</div>
</form>
<div>
	<span data-i18n="gettext">Already have an account?</span>&nbsp;<a href="{{ login_url }}" data-i18n="gettext">Login here</a>
</div>