/* General formatting */
body {
    background-color: #EEF2FF;
	color: #000000;
    font-size: 1.0em;
    font-family: sans-serif;
    padding-left: 6px;
    padding-right: 6px;
}

.form-content-action {
    width: 100%;
    height: 100%;
    padding: 4px;
}

img {
	
}

hr {
	color: #000000;
}

a {
    color: #34345C;
    text-decoration: none;
}

a:visited {
    color: #34345C;
    text-decoration: none;
}

a:hover {
    color: #DD0000;
    text-decoration: underline;
}

a.post-link:active {
    text-decoration: none;
}

a.post-link:link {
    text-decoration: none;
}

a.post-link:visited {
    text-decoration: none;
}

/* Header */
.top-styles {
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
}

.logo {
    color: #AF0A0F;
    text-align: center;
    font-weight: bold;
    width: 100%;
    clear: both;
}

.logo-alt-text {
    font-size: 2.0em;
}

.board-navigation {
	text-align: center;
}

.board-navigation-link {

}

/* Footer */
.footer {
    clear: both;
    text-align: center;
    font-size: 0.8em;
}

.bottom-styles {
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
}

.footer-form {
    float: right;
    text-align: left;
}

/* Management */
.admin-bar {
    float: right;
    padding-top: 6px;
    padding-bottom: 6px;
}

.manage-header {
    background-color: #9988EE;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    width: 100%;
}

.manage-board-header {
    background-color: #9988EE;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    width: 100%;
}

.manage-sub-header {
    background-color: #BBAAFF;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    width: 100%;
}

.data-table {
    background-color: #FFFFFF;
    width: 100%;
}

.row1 {
    background-color: #9AD2F6;
    font-family: sans-serif;
}

.row2 {
    background-color: #FFFFFF;
    font-family: sans-serif;
}

/* Posting form formatting */
.posting-form {
    border-spacing: 2px;
    margin-right: auto;
    margin-left: auto;
}

.posting-form-row {
	display: table-row;
}

.posting-form-label {
	display: table-cell;
    background-color: #9988EE;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
    background-clip: padding-box;
    border: 1px solid #7766EE;
    vertical-align: middle;
}

.posting-form-input {
	display: table-cell;
    padding: 5px;
}

.rules {
    font-size: 0.8em;
    font-family: sans-serif;
}

/* Files */
.post-files-container {

}

.file-select {

}

.multi-file-select {

}

.op-fileinfo {
    float: left;
    text-align: left;
    text-decoration: none;
	white-space: nowrap;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 3px;
    font-size: 0.95em;
}

.op-multiple-fileinfo {
    float: left;
    text-align: left;
    text-decoration: none;
	white-space: nowrap;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 3px;
    font-size: 0.95em;
}

.reply-fileinfo {
    float: left;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    padding: 2px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 3px;
    font-size: 0.95em;
}

.reply-multiple-fileinfo {
    float: left;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    padding: 2px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 3px;
    font-size: 0.95em;
}

.file-meta {
	white-space:normal;
	word-wrap: break-word;
}

.file-source {
    padding-left: 2px;
}

.file-license {
    padding-left: 2px;
}

.file-hash {
    padding-left: 2px;
}

.preview-link {
	display: block;
}

/* General post formatting */
.mod-comment {
    color: #FF0000;
    font-size: 1.05em;
    font-weight: bold;
}

.old-post {
	color: #CC1105;
    font-size: 1.05em;
    font-weight: bold;
}

.omitted-posts {
    color: #070707;
    font-size: 1.05em;
    font-weight: bold;
}

.post-quote {
    background-color: #C4C2EE;
    color: #FFFFFF;
}

.link-quote {
    
}

.post-link {
    
}

.post-header {

}

/* OP post formatting */
.op-post {
	color: #000000;
    min-width: 15em;
    height: 100%;
    padding-bottom: 6px;
    padding-left: 20px;
}

.op-post.post-highlight {
	background-color: #AABBFF;
}

.op-poster-name {
	color: #117743;
    text-decoration: none;
    font-weight: bold;
}

.op-subject {
    color: #0F0C5D;
    font-size: 1.05em;
    font-weight: bold;
}

.op-post-select {

}

.op-thread-select {

}

.thread-header-options {
	
}

.op-post-header-options {
	margin-left: 1em;
}

.op-post-header-info {
	margin-left: 1em;
}

/* Reply post formatting */
.reply-post {
    background-color: #D6DAF0;
    color: #000000;
    border: 1px solid #EEF2FF;
    padding: 5px;
    min-width: 15em;
    height: 100%;
    margin: 5px;
    display: inline-block;
}

.reply-post.post-highlight {
	background-color: #AABBFF;
}

.reply-poster-name {
	color: #117743;
    text-decoration: none;
    font-weight: bold;
}

.reply-subject {
	color: #0F0C5D;
    font-size: 1.05em;
    font-weight: bold;
}

.reply-post-contents {
	word-wrap: break-word;
}

.indents {
    padding: 1px;
    float: left;
}

.reply-post-select {

}

.reply-post-header-options {

}

.reply-post-header-info {

}

/* Other */
.ban-bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.nelliel-license-div {
    font-size: 1.0em;
    text-align: left;
    margin: auto;
    max-width: 60em;
}

.hidden {
    display: none !important;
}

.display-block {
    display: block;
}

.display-table {
	display: table;
}

.display-row {
	display: table-row;
}

.display-cell {
    display: table-cell;
}

.post-corral {
    
}

.post-quote-popup {
    height: auto;
    position: absolute;
    display: block;
}

.reply-post.popup-mod {
    border: 1px solid #EEF2FF;
}