/* Elements formatting */
body {
    background-color: #88F0AF;
    color: #112211;
    font-size: 1.0em;
    font-family: serif;
    margin-left: 5px;
    margin-right: 5px;
}

img {
    
}

hr {
    color: #006688;
}

a {
    color: #3322CC;
}

a:visited {
    color: #3322CC;
}

a:hover {
    color: #AA2255;
}

/* General formatting */
.content-page {
    width: 100%;
    height: 100%;
    padding: 4px;
}

/* Header */
.top-styles {
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
}

.image-logo {
    text-align: center;
    clear: both;
}

.text-logo {
	color: #6600CC;
    text-align: center;
    font-size: 2.0em;
    clear: both;
}

.board-navigation {
    text-align: center;
}

.board-navigation-link {

}

/* Footer */
.footer {
    clear: both;
    text-align: center;
    font-size: 0.8em;
}

.bottom-styles {
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
}

.footer-form {
    float: right;
    text-align: left;
}

/* Management */
.admin-bar {
    float: right;
    padding-top: 6px;
    padding-bottom: 6px;
}

.manage-header {
    background-color: #33AAFF;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    width: 100%;
}

.manage-board-header {
    background-color: #33AAFF;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    width: 100%;
}

.manage-sub-header {
    background-color: #55CCFF;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    width: 100%;
}

.data-table {
    background-color: #FFFFFF;
    width: 100%;
}

.row1 {
    background-color: #99CCFF;
    font-family: sans-serif;
}

.row2 {
    background-color: #BBEEFF;
    font-family: sans-serif;
}

/* Posting form formatting */
.posting-form {
    border-spacing: 2px;
    margin-right: auto;
    margin-left: auto;
}

.posting-form-row {
	display: table-row;
}

.posting-form-label {
	display: table-cell;
    background-color: #33AAEE;
    font-weight: bold;
    color: #000000;
    padding: 3px 5px 3px 5px;
    background-clip: padding-box;
    border: 1px solid #1188CC;
    vertical-align: middle;
}

.posting-form-input {
	display: table-cell;
    padding: 5px;
}

.rules {
    font-size: 0.85em;
    font-family: sans-serif;
}

.rules-list {
	
}

.rules-item {
	
}

/* Files */
.file-select {

}

.multiple-file-select {

}

.op-files-container {

}

.op-multiple-files-container {

}

.reply-files-container {

}

.reply-multiple-files-container {

}

.op-fileinfo {
    float: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    font-size: 0.95em;
}

.op-multiple-fileinfo {
    float: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    font-size: 0.95em;
}

.reply-fileinfo {
    float: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    font-size: 0.95em;
}

.reply-multiple-fileinfo {
    float: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    font-size: 0.95em;
}

.file-meta {
    white-space:normal;
    word-wrap: break-word;
}

.file-source {
    padding-left: 2px;
}

.file-license {
    padding-left: 2px;
}

.file-hash {
    padding-left: 2px;
}

.preview-link {
    display: block;
}

/* General post formatting */
.mod-comment {
    color: #FF0000;
    font-size: 1.05em;
    font-weight: bold;
}

.old-post {
    color: #DD1100;
    font-size: 1.05em;
    font-weight: bold;
}

.omitted-posts {
    color: #5500CC;
    font-weight: bold;
}

.post-quote {
    color: #339900;
}

.link-quote {
    
}

.thread-select {

}

.post-select {

}

.thread-header-options {
    
}

.post-corral {
    
}

.post-quote-popup {
    height: auto;
    position: absolute;
    display: block;
}

.reply-post.popup-mod {
    border: 1px solid #88EEFF;
}

/* OP post formatting */
.op-post-header {
	
}

.op-post-header-options {
    margin-left: 1em;
}

.op-post-header-info {
    margin-left: 1em;
}

.op-post {
    color: #112211;
    min-width: 15em;
    height: 100%;
    padding-bottom: 6px;
    padding-left: 20px;
}

.op-post.post-highlight {
    background-color: #AABBFF;
}

.op-poster-name {
    color: #CC0077;
    text-decoration: none;
    font-weight: bold;
}

.op-subject {
    color: #6611BB;
    font-weight: bold;
}

.op-mailto {
	
}

.op-trip-line {
	
}

.op-post-time {
	
}

.op-post-link {
    
}

.op-post-number-link {
    
}

.op-post-contents {
    word-wrap: break-word;
}

.op-post-text {

}

.op-post-comment {

}

/* Reply post formatting */
.reply-post-header {
	
}

.reply-post-header-options {

}

.reply-post-header-info {

}

.reply-post {
    background-color: #88E4F6;
    color: #112211;
    border: 1px solid #66C2D4;
    padding: 5px;
    min-width: 15em;
    height: 100%;
    margin: 5px;
    display: inline-block;
}

.reply-post.post-highlight {
    background-color: #DD99CC;
}

.reply-poster-name {
    color: #CC0077;
    text-decoration: none;
    font-weight: bold;
}

.reply-subject {
    color: #6611BB;
    font-weight: bold;
}

.reply-mailto {
	
}

.reply-trip-line {
	
}

.reply-post-time {
	
}

.reply-post-link {
    
}

.reply-post-number-link {
    
}

.reply-post-contents {
    word-wrap: break-word;
}

.reply-post-text {

}

.reply-post-comment {

}

.indents {
    padding: 1px;
    float: left;
}

/* Other */
.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.nelliel-license-div {
    font-size: 1.0em;
    text-align: left;
    margin: auto;
    max-width: 60em;
}

.hidden {
    display: none !important;
}

.display-block {
    display: block;
}

.display-table {
	display: table;
}

.display-row {
	display: table-row;
}

.display-cell {
    display: table-cell;
}
