/* Elements formatting */
html {
	font-size: 100%;
}

body {
	background-color: #FFFFEE;
	color: #800000;
    font-family: serif;
    margin-left: 5px;
    margin-right: 5px;
}

img {
    
}

hr {
	color: #800000;
}

a {
    color: #0000EE;
}

a:visited {
    color: #0000EE;
}

a:hover {
    color: #DD0000;
}

form {
	border-spacing: 2px;
}

/* General formatting */
.content-page {
    height: 100%;
    padding: 4px;
}

/* Header */
.top-styles {
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
}

.site-banner {
    text-align: center;
    clear: both;
}

.site-name {
	font-size: 2.0rem;
	font-weight: bold;
    text-align: center;
    clear: both;
}

.site-slogan {
    text-align: center;
    clear: both;
}

.board-banner {
    text-align: center;
    clear: both;
}

.board-name {
	color: #800000;
    text-align: center;
    font-size: 2.0rem;
    clear: both;
    margin: 0;
}

.board-slogan {
	color: #800000;
    text-align: center;
    font-size: 1.0rem;
    clear: both;
    margin: 0;
}

.board-navigation {
    text-align: center;
}

.board-navigation-link {

}

.top-nav-menu {
    float: right;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* Footer */
.footer {
    clear: both;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 5px;
}

.bottom-styles {
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
}

.footer-form {
    float: right;
    text-align: left;
}

/* Management */
.manage-header {
    background-color: #EEAA88;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

.manage-board-header {
    background-color: #EEAA88;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

.manage-sub-header {
	background-color: #FFCCAA;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

.manage-section-header {
	font-size: 1.4rem;
	font-weight: bold;
    text-align: center;
    padding: 5px;
}

.data-table {
    background-color: #FFFFFF;
    width: 100%;
}

.row1 {
    background-color: #9AD2F6;
    font-family: sans-serif;
}

.row2 {
    background-color: #FFFFFF;
    font-family: sans-serif;
}

/* Catalog */
.catalog-title {
	color: #800000;
    text-align: center;
    font-size: 1.25rem;
    clear: both;
}

.catalog-entry {
	float: left;
    background-color: #F0E0D6;
    border: 1px solid #D0C0D6;
    font-size: .95rem;
	margin: 3px;
	padding: 3px;
	width: 14rem;
	height: 14rem;
}

.catalog-open-link {
	text-align: center;
}

.catalog-thread-info {
	text-align: center;
	font-weight: bold;
	margin-bottom: 3px;
}

.catalog-subject {
	text-align: center;
    color: #CC1105;
    font-weight: bold;
}

/* Posting form formatting */
.posting-form {
    border-spacing: 2px;
    margin-right: auto;
    margin-left: auto;
}

.posting-form-row {
	display: table-row;
}

.posting-form-label {
	display: table-cell;
    background-color: #EEAA88;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
    background-clip: padding-box;
    border: 1px solid #CC8888;
    vertical-align: middle;
}

.posting-form-input {
	display: table-cell;
    padding: 5px;
}

.rules {
    font-size: 0.85rem;
    font-family: sans-serif;
}

.rules-list {
	
}

.rules-item {
	
}

/* Files */
.file-select {

}

.multiple-file-select {

}

.op-files-container {
	float: left;
}

.op-multiple-files-container {
	float: left;
}

.reply-files-container {
	float: left;
}

.reply-multiple-files-container {
	float: left;
}

.op-fileinfo {
    float: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    font-size: 0.95rem;
}

.op-multiple-fileinfo {
    float: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    font-size: 0.95rem;
}

.reply-fileinfo {
    float: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    font-size: 0.95rem;
}

.reply-multiple-fileinfo {
    float: left;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    font-size: 0.95rem;
}

.file-meta {
    white-space:normal;
    word-wrap: break-word;
}

.file-source {
    padding-left: 2px;
}

.file-license {
    padding-left: 2px;
}

.file-hash {
    padding-left: 2px;
}

.preview-link {
    display: block;
}

/* General post formatting */
.mod-comment {
    color: #FF0000;
    font-size: 1.05rem;
    font-weight: bold;
}

.old-post {
	color: #CC1105;
    font-size: 1.05rem;
    font-weight: bold;
}

.omitted-posts {
	color: #070707;
    font-weight: bold;
}

.post-quote {
    color: #789922;
}

.post-link {
    
}

.post-backlink {
    font-size: 0.8rem;
    padding-left: 2px;
    padding-right: 2px;
}

.thread-select {

}

.post-select {

}

.thread-header-options {
    
}

.post-corral {
    
}

.post-quote-popup {
    height: auto;
    position: absolute;
    display: block;
}

.poster-id {
	
}

/* OP post formatting */
.op-post-header {
	
}

.op-post-header-options {
    margin-left: 1em;
}

.op-post-header-info {
    margin-left: 1em;
}

.op-post {
    min-width: 15em;
    height: 100%;
    padding-bottom: 6px;
    padding-left: 20px;
}

.op-post.post-highlight {
	background-color: #AABBFF;
}

.op-poster-name {
	color: #117743;
    text-decoration: none;
    font-weight: bold;
}

.op-subject {
	color: #CC1105;
    font-size: 1.05rem;
    font-weight: bold;
}

.op-mailto {
	
}

.op-trip-line {
	
}

.op-post-time {
	
}

.op-post-link {
    
}

.op-post-number-link {
    
}

.op-post-contents {
    word-wrap: break-word;
}

.op-post-text {

}

.op-post-comment {

}

/* Reply post formatting */
.reply-post-header {
	
}

.reply-post-header-options {

}

.reply-post-header-info {

}

.reply-post {
    background-color: #F0E0D6;
    border: 1px solid #D0C0D6;
    padding: 5px;
    min-width: 15em;
    height: 100%;
    margin: 5px;
    display: inline-block;
}

.reply-post.post-highlight {
	background-color: #AABBFF;
}

.reply-poster-name {
	color: #117743;
    text-decoration: none;
    font-weight: bold;
}

.reply-subject {
    color: #CC1105;
    font-size: 1.05rem;
    font-weight: bold;
}

.reply-mailto {
	
}

.reply-trip-line {
	
}

.reply-post-time {
	
}

.reply-post-link {
    
}

.reply-post-number-link {
    
}

.reply-post-contents {
    word-wrap: break-word;
}

.reply-post-text {

}

.reply-post-comment {

}

.indents {
    padding: 1px;
    float: left;
}

/* News */

.news-page {
    margin: auto;
    max-width: 60rem;
    text-align: left;
    border: 2px solid #CC8866;
}

.news-entry {
	border-bottom: 1px solid;
}

.news-headline-bar {
	padding: 3px;
	background-color: #EEAA88;
}

.news-headline {
	font-weight: bold;
    font-size: 1.2rem;
}

.news-poster {
    font-size: 1.0rem;
}

.news-time {
    font-size: 1.0rem;
}

.news-text {
    padding: 3px;
    text-align: left;
    background-color: #F0E0D6;
}

/* Other */
.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.nelliel-license-div {
    text-align: left;
    margin: auto;
    max-width: 60em;
}

.hidden {
    display: none !important;
}

.display-block {
    display: block;
}

.display-table {
	display: table;
}

.display-row {
	display: table-row;
}

.display-cell {
    display: table-cell;
}
