/* General formatting */
body {
    font-size: 1.0em;
    background: #000000;
    color: #FFFFFF;
    font-weight: 600;
    font-family: serif;
    padding-left: 6px;
    padding-right: 6px;
}

.outer-div {
    width: 100%;
    height: 100%;
    padding: 4px;
}

a {
    color: #0147FA;
}

a:visited {
    color: #5500FF;
}

a:hover {
    color: #3322AA;
}

a.post-link:active {
    text-decoration: none;
}

a.post-link:link {
    text-decoration: none;
}

a.post-link:visited {
    text-decoration: none;
}

/* Header */
.top-styles {
    text-align: left;
    float: left;
}

.logo {
    clear: both;
    text-align: center;
    font-weight: bold;
    color: #AA0000;
    width: 100%;
}

.logo-alt-text {
    font-size: 2.0em;
}

/* Footer */
.footer {
    clear: both;
    text-align: center;
    font-size: 0.8em;
}

.bottom-styles {
    float: left;
    text-align: left;
    padding-top: 16px;
}

.footer-form {
    float: right;
    text-align: left;
}

/* Management */
.admin-bar {
    text-align: right;
    float: right;
}

.pass-valid {
    background: #33AAFF;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.del-list {
    background: #33AAFF;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.manage-header {
    background: #0F8FE1;
    font-family: sans-serif;
    padding: 0px;
}

.post-lists {
    background: #FFFFFF;
    width: 100%;
    padding: 0px;
}

.row1 {
    background: #9AD2F6;
    font-family: sans-serif;
    color: #000000;
}

.row2 {
    background: #FFFFFF;
    font-family: sans-serif;
    color: #000000;
}

/* Posting form formatting */
.posting-form {
    
}

.input-table {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.posting-form-row {
    text-align: left;
}

.posting-form-label {
    background: #151515;
    color: #00DD66;
    font-weight: bold;
    padding: 3px;
}

.posting-form-input {
    padding: 3px;
}

.rules {
    font-size: 0.8em;
    font-family: sans-serif;
}

/* Files */
.file-delete-box {
    padding-left: 15px;
}

.multi-file-delete-box {
    margin-left: 0px;
}

.op-fileinfo {
    
}

.op-multiple-fileinfo {
    float: left;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    padding: 2px;
    padding-left: 15px;
    margin: 3px;
}

.reply-fileinfo {
    
}

.reply-multiple-fileinfo {
    float: left;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    padding: 2px;
    padding-left: 15px;
    margin: 3px;
}

.source {
    padding-left: 20px;
}

.license {
    padding-left: 20px;
}

.md5 {
    padding-left: 20px;
}

.sha1 {
    padding-left: 20px;
}

/* General post formatting */
a.mailto-name:active {
    color: #FFFF00;
}

a.mailto-name:link {
    color: #FFFF00;
}

a.mailto-name:visited {
    color: #FFFF00;
}

.none {
    display: none;
}

.mod-comment {
    color: #CC1105;
    font-size: 1.10em;
    font-weight: bold;
}

.old-post {
    font-size: 1.10em;
    color: #CC1105;
    font-weight: bold;
}

.omitted-posts {
    color: #00DD66;
    font-size: 1.10em;
    font-weight: bold;
}

.post-quote {
    color: #00CC00;
}

.link-quote {
    
}

.post-link {
    
}

/* OP post formatting */
.op-post {
    min-width: 15em;
    max-width: 60em;
    height: 100%;
    padding-bottom: 6px;
    padding-left: 20px;
}

.op-poster-name {
    text-decoration: none;
    color: #FFFF00;
    font-weight: bold;
}

.op-subject {
    font-family: serif;
    font-size: 1.10em;
    color: #00FFDD;
    font-weight: bold;
}

.op-post-text {
    
}

.op-post-preview {
    text-align: left;
    float: left;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 0;
}

.op-post-multiple-preview {
    text-align: left;
    padding: 2px;
    border: 0;
}

/* Reply post formatting */
.reply-post {
    background: #151515;
    border: 1px solid #0276FD;
    float: left;
    padding: 5px;
    min-width: 15em;
    max-width: 60em;
    height: 100%;
    margin: 5px;
}

.reply-poster-name {
    text-decoration: none;
    color: #FFFF00;
    font-weight: bold;
}

.reply-subject {
    font-family: serif;
    font-size: 1.10em;
    color: #00FFDD;
    font-weight: bold;
}

.reply-post-text {
    padding-left: 1.10em;
    float: left;
}

.reply-post-preview {
    text-align: left;
    float: left;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 10px;
    border: 0;
}

.reply-post-multiple-preview {
    text-align: left;
    padding: 2px;
    border: 0;
}

.indents {
    padding: 1px;
    float: left;
    color: #009900;
}

/* Other */
.ban-bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.nelliel-license-div {
    font-size: 1.0em;
    text-align: left;
    margin: auto;
    max-width: 60em;
}