<form accept-charset="utf-8" action="{{ form_action }}" method="post" enctype="multipart/form-data">
	<div class="display-table">
		<div class="display-row">
			<span class="display-cell">
				<label for="ban_ip" data-i18n="">Enter an IP address, hash or range:</label>
			</span>
			<span class="display-cell">
				<input id="ban_ip" type="text" name="ban_ip" value="{{ ban_ip }}">
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<label for="ban_board" data-i18n="">Apply ban to this board:</label>
			</span>
			<span class="display-cell">
				<input id="ban_board"  type="text" name="ban_board" value="{{ ban_board }}">
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<input type="hidden" name="ban_global[default]" value="0">
				<input id="ban_global" type="checkbox" name="ban_global[value]" value="1" {{ global }}>
				<label for="ban_global" data-i18n="">Ban from all boards. This overrides any specific boards.</label>
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell" data-i18n="">Ban length:</span>
			<span class="display-cell">
				<label for="ban_time_years" data-i18n="">Years</label>
				<input id="ban_time_years" type="number" name="ban_time_years" size="6" value="0">&nbsp;&nbsp;&nbsp;
				<label for="ban_time_days" data-i18n="">Days</label>
				<input id="ban_time_days" type="number" name="ban_time_days" size="6" value="0">&nbsp;&nbsp;&nbsp;
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell"></span>
			<span class="display-cell">
				<label for="ban_time_hours" data-i18n="">Hours</label>
				<input id="ban_time_hours"  type="number" name="ban_time_hours" size="6" value="0">&nbsp;&nbsp;&nbsp;
				<label for="ban_time_minutes" data-i18n="">Minutes</label>
				<input id="ban_time_minutes"  type="number" name="ban_time_minutes" size="6" value="0">&nbsp;&nbsp;&nbsp;
			</span>
		</div>
		<div class="display-row">
			<span class="display-cell">
				<label for="ban_reason" data-i18n="">Ban reason (optional):</label>
			</span>
			<span class="display-cell">
				<textarea id="ban_reason" name="ban_reason" cols="32" rows="3"></textarea>
			</span>
		</div>
		{{# is_post_ban }}
		<div class="display-row">
			<span class="display-cell">
				<label for="mod_post_comment" data-i18n="">Attach comment to post (optional):</label>
			</span>
			<span class="display-cell">
				<textarea id="mod_post_comment" name="mod_post_comment" cols="32" rows="3"></textarea>
			</span>
		</div>
		{{/ is_post_ban }}
		<div class="display-row">
			<span class="display-cell">
				<input type="submit" value="Add Ban" data-i18n-attributes="value">
			</span>
		</div>
	</div>
</form>