<table class="data-table">
	<caption class="data-table-caption" data-gettext="">List of bans</caption>
	<thead class="data-table-header">
		<tr>
			<th data-gettext="">Ban ID</th>
			<th data-gettext="">IP</th>
			<th data-gettext="">Board</th>
			<th data-gettext="">Global</th>
			<th data-gettext="">Reason</th>
			<th data-gettext="">Expiration</th>
			<th data-gettext="">Appeal</th>
			<th data-gettext="">Response</th>
			<th data-gettext="">Status</th>
			<th data-gettext="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# ban_list }}
		<tr class="row1">
			<td>{{ ban_id }}</td>
			<td>{{ ip_address }}</td>
			<td>{{ board_id }}</td>
			<td>{{ global }}</td>
			<td>{{ reason }}</td>
			<td>{{ expiration }}</td>
			<td>{{ appeal }}</td>
			<td>{{ appeal_response }}</td>
			<td>{{ appeal_status }}</td>
			<td>
	{{# modify_url }}<span>[<a href="{{ modify_url }}" data-gettext="">Modify</a>]</span>{{/ modify_url }}
	{{# remove_url }}<span>[<a href="{{ remove_url }}" data-gettext="">Remove</a>]</span>{{/ remove_url }}
			</td>
		</tr>
{{/ ban_list }}
	</tbody>
</table>
<hr>
<div>
	<a href="{{ new_ban_url }}" data-gettext="">Add New Ban</a>
</div>