<form accept-charset="utf-8" action="{{ form_action }}" method="post" enctype="multipart/form-data">
{{# settings_data }}
	<div class="display-table">
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-gettext="">General</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# name }}
			{{> panels/pieces/settings_text }}
		{{/ name }}
		{{# show_name }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_name }}
		{{# description }}
			{{> panels/pieces/settings_text }}
		{{/ description }}
		{{# show_description }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_description }}
		{{# favicon }}
			{{> panels/pieces/settings_text }}
		{{/ favicon }}
		{{# show_favicon }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_favicon }}
		{{# banner }}
			{{> panels/pieces/settings_text }}
		{{/ banner }}
		{{# show_banner }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_banner }}
		{{# locale }}
			{{> panels/pieces/settings_text }}
		{{/ locale }}
		{{# exclude_from_overboards }}
			{{> panels/pieces/settings_checkbox }}
		{{/ exclude_from_overboards }}
		{{# user_delete_own }}
			{{> panels/pieces/settings_checkbox }}
		{{/ user_delete_own }}
		{{# delete_post_renzoku }}
			{{> panels/pieces/settings_number }}
		{{/ delete_post_renzoku }}
		{{# safety_level }}
			{{> panels/pieces/settings_select }}
		{{/ safety_level }}
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-gettext="">New post</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# enable_name_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_name_field }}
		{{# min_name_length }}
			{{> panels/pieces/settings_number }}
		{{/ min_name_length }}
		{{# max_name_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_name_length }}
		{{# enable_email_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_email_field }}
		{{# min_email_length }}
			{{> panels/pieces/settings_number }}
		{{/ min_email_length }}
		{{# max_email_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_email_length }}
		{{# enable_subject_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_subject_field }}
		{{# min_subject_length }}
			{{> panels/pieces/settings_number }}
		{{/ min_subject_length }}
		{{# max_subject_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_subject_length }}
		{{# enable_comment_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_comment_field }}
		{{# min_comment_length }}
			{{> panels/pieces/settings_number }}
		{{/ min_comment_length }}
		{{# max_comment_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_comment_length }}
		{{# enable_fgsfds_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_fgsfds_field }}
		{{# enable_password_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_password_field }}
		{{# allow_files }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_files }}
		{{# allow_embeds }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_embeds }}
		{{# allow_op_uploads }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_op_uploads }}
		{{# allow_reply_uploads }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_reply_uploads }}
		{{# allow_op_multiple }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_op_multiple }}
		{{# allow_reply_multiple }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_reply_multiple }}
		{{# embed_replaces_file }}
			{{> panels/pieces/settings_checkbox }}
		{{/ embed_replaces_file }}
		{{# require_op_upload }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_op_upload }}
		{{# require_reply_upload }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_reply_upload }}
		{{# check_thread_duplicates }}
			{{> panels/pieces/settings_checkbox }}
		{{/ check_thread_duplicates }}
		{{# check_op_duplicates }}
			{{> panels/pieces/settings_checkbox }}
		{{/ check_op_duplicates }}
		{{# enable_spoilers }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_spoilers }}
		{{# limit_thread_uploads }}
			{{> panels/pieces/settings_checkbox }}
		{{/ limit_thread_uploads }}
		{{# max_thread_uploads }}
			{{> panels/pieces/settings_number }}
		{{/ max_thread_uploads }}
		{{# require_op_comment }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_op_comment }}
		{{# require_reply_comment }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_reply_comment }}
		{{# max_post_uploads }}
			{{> panels/pieces/settings_number }}
		{{/ max_post_uploads }}
		{{# max_filesize }}
			{{> panels/pieces/settings_number }}
		{{/ max_filesize }}
		{{# truncate_long_fields }}
			{{> panels/pieces/settings_checkbox }}
		{{/ truncate_long_fields }}
		{{# forced_anonymous }}
			{{> panels/pieces/settings_checkbox }}
		{{/ forced_anonymous }}
		{{# allow_sage }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_sage }}
		{{# allow_tripcodes }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_tripcodes }}
		{{# process_new_post_commands }}
			{{> panels/pieces/settings_checkbox }}
		{{/ process_new_post_commands }}
		{{# allow_email_commands }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_email_commands }}
		{{# thread_renzoku }}
			{{> panels/pieces/settings_number }}
		{{/ thread_renzoku }}
		{{# reply_renzoku }}
			{{> panels/pieces/settings_number }}
		{{/ reply_renzoku }}
		{{# max_cites }}
			{{> panels/pieces/settings_number }}
		{{/ max_cites }}
		{{# max_crossboard_cites }}
			{{> panels/pieces/settings_number }}
		{{/ max_crossboard_cites }}
		{{# trim_comment_newlines_start }}
			{{> panels/pieces/settings_checkbox }}
		{{/ trim_comment_newlines_start }}
		{{# trim_comment_newlines_end }}
			{{> panels/pieces/settings_checkbox }}
		{{/ trim_comment_newlines_end }}
		{{# use_anonymous_names }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_anonymous_names }}
		{{# anonymous_names }}
			{{> panels/pieces/settings_text }}
		{{/ anonymous_names }}
		{{# always_noko }}
			{{> panels/pieces/settings_checkbox }}
		{{/ always_noko }}
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-gettext="">Content handling</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# preferred_filename }}
			{{> panels/pieces/settings_select }}
		{{/ preferred_filename }}
		{{# generate_preview }}
			{{> panels/pieces/settings_checkbox }}
		{{/ generate_preview }}
		{{# max_preview_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_preview_width }}
		{{# max_preview_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_preview_height }}
		{{# jpeg_quality }}
			{{> panels/pieces/settings_number }}
		{{/ jpeg_quality }}
		{{# use_png_preview }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_png_preview }}
		{{# png_compression }}
			{{> panels/pieces/settings_number }}
		{{/ png_compression }}
		{{# animated_gif_preview }}
			{{> panels/pieces/settings_checkbox }}
		{{/ animated_gif_preview }}
		{{# deleted_upload_placeholder }}
			{{> panels/pieces/settings_checkbox }}
		{{/ deleted_upload_placeholder }}
		{{# limit_post_count }}
			{{> panels/pieces/settings_checkbox }}
		{{/ limit_post_count }}
		{{# max_posts }}
			{{> panels/pieces/settings_number }}
		{{/ max_posts }}
		{{# limit_bump_count }}
			{{> panels/pieces/settings_checkbox }}
		{{/ limit_bump_count }}
		{{# max_bumps }}
			{{> panels/pieces/settings_number }}
		{{/ max_bumps }}
		{{# active_threads }}
			{{> panels/pieces/settings_number }}
		{{/ active_threads }}
		{{# thread_buffer }}
			{{> panels/pieces/settings_number }}
		{{/ thread_buffer }}
		{{# old_threads }}
			{{> panels/pieces/settings_select }}
		{{/ old_threads }}
		{{# max_archive_threads }}
			{{> panels/pieces/settings_number }}
		{{/ max_archive_threads }}
		{{# do_archive_pruning }}
			{{> panels/pieces/settings_checkbox }}
		{{/ do_archive_pruning }}
		{{# store_exif_data }}
			{{> panels/pieces/settings_checkbox }}
		{{/ store_exif_data }}
		{{# max_slug_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_slug_length }}
		{{# slugify_thread_url }}
			{{> panels/pieces/settings_checkbox }}
		{{/ slugify_thread_url }}
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-gettext="">Page rendering</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# date_format }}
			{{> panels/pieces/settings_text }}
		{{/ date_format }}
		{{# index_thread_replies }}
			{{> panels/pieces/settings_number }}
		{{/ index_thread_replies }}
		{{# index_sticky_replies }}
			{{> panels/pieces/settings_number }}
		{{/ index_sticky_replies }}
		{{# threads_per_page }}
			{{> panels/pieces/settings_number }}
		{{/ threads_per_page }}
		{{# comment_display_lines }}
			{{> panels/pieces/settings_number }}
		{{/ comment_display_lines }}
		{{# filter_combining_characters }}
			{{> panels/pieces/settings_checkbox }}
		{{/ filter_combining_characters }}
		{{# display_render_timer }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_render_timer }}
		{{# enable_dynamic_pages }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_dynamic_pages }}
		{{# generate_catalog }}
			{{> panels/pieces/settings_checkbox }}
		{{/ generate_catalog }}
		{{# template_id }}
			{{> panels/pieces/settings_select }}
		{{/ template_id }}
		{{# default_style }}
			{{> panels/pieces/settings_select }}
		{{/ default_style }}
		{{# ui_icon_set }}
			{{> panels/pieces/settings_select }}
		{{/ ui_icon_set }}
		{{# filetype_icon_set }}
			{{> panels/pieces/settings_select }}
		{{/ filetype_icon_set }}
		{{# icon_set_fallback }}
			{{> panels/pieces/settings_checkbox }}
		{{/ icon_set_fallback }}
		{{# use_file_icon }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_file_icon }}
		{{# max_uploads_row }}
			{{> panels/pieces/settings_number }}
		{{/ max_uploads_row }}
		{{# max_display_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_display_width }}
		{{# max_display_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_display_height }}
		{{# max_multi_display_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_multi_display_width }}
		{{# max_multi_display_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_multi_display_height }}
		{{# max_catalog_display_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_catalog_display_width }}
		{{# max_catalog_display_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_catalog_display_height }}
		{{# filename_display_length }}
			{{> panels/pieces/settings_number }}
		{{/ filename_display_length }}
		{{# embed_url_display_length }}
			{{> panels/pieces/settings_number }}
		{{/ embed_url_display_length }}
		{{# fgsfds_name }}
			{{> panels/pieces/settings_text }}
		{{/ fgsfds_name }}
		{{# indent_marker }}
			{{> panels/pieces/settings_text }}
		{{/ indent_marker }}
		{{# tripcode_marker }}
			{{> panels/pieces/settings_text }}
		{{/ tripcode_marker }}
		{{# no_comment_text }}
			{{> panels/pieces/settings_text }}
		{{/ no_comment_text }}
		{{# display_post_backlinks }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_post_backlinks }}
		{{# display_poster_id }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_poster_id }}
		{{# poster_id_colors }}
			{{> panels/pieces/settings_checkbox }}
		{{/ poster_id_colors }}
		{{# poster_id_length }}
			{{> panels/pieces/settings_number }}
		{{/ poster_id_length }}
		{{# create_url_links }}
			{{> panels/pieces/settings_checkbox }}
		{{/ create_url_links }}
		{{# url_protocols }}
			{{> panels/pieces/settings_text }}
		{{/ url_protocols }}
		{{# url_prefix }}
			{{> panels/pieces/settings_text }}
		{{/ url_prefix }}
		{{# max_comment_urls }}
			{{> panels/pieces/settings_number }}
		{{/ max_comment_urls }}
		{{# display_original_name }}
			{{> panels/pieces/settings_text }}
		{{/ display_original_name }}
		{{# board_content_disclaimer }}
			{{> panels/pieces/settings_text }}
		{{/ board_content_disclaimer }}
		{{# index_nav_top }}
			{{> panels/pieces/settings_checkbox }}
		{{/ index_nav_top }}
		{{# index_nav_bottom }}
			{{> panels/pieces/settings_checkbox }}
		{{/ index_nav_bottom }}
		{{# image_spoiler_cover }}
			{{> panels/pieces/settings_text }}
		{{/ image_spoiler_cover }}
		{{# image_deleted_file }}
			{{> panels/pieces/settings_text }}
		{{/ image_deleted_file }}
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-gettext="">Anti-spam</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# use_post_captcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_post_captcha }}
		{{# use_post_recaptcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_post_recaptcha }}
		{{# use_report_captcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_report_captcha }}
		{{# use_report_recaptcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_report_recaptcha }}
		{{# use_honeypot }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_honeypot }}
	</div>
	{{# enabled_filetypes }}
	<div class="display-table text-left">
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-gettext="">Filetypes</span>
			</span>
			{{# show-locked }}
			<span class="display-cell"></span>
			{{/ show-locked }}
		</div>
		{{# show_lock_update }}
		<div class="display-row">
			{{> panels/pieces/settings_lock_update }}
		</div>
		{{/ show_lock_update }}

		{{# file_types }}
		{{# type_select }}
		<div class="display-row">
			<span class="display-cell">
				<br>
				<input type="hidden" name="{{ input_name }}[default]" value="0">
				<input id="{{ name }}" type="checkbox" name="{{ input_name }}[value]" value="1" {{ value }} {{ disabled }}>
				<label for="{{ name }}" class="bold">{{ type_label }}</label>
			</span>
		</div>
		{{/ type_select }}
		{{# entry_rows }}
		<div class="display-row">
			{{# entry }}
			<span class="display-cell">
				<input type="hidden" name="{{ input_name }}[default]" value="0">
				<input id="{{ format }}" type="checkbox" name="{{ input_name }}[value]" value="1" {{ value }} {{ disabled }}>
				<label for="{{ format }}">{{ type_label }}</label>
			</span>
			{{/ entry }}
		</div>
		{{/ entry_rows }}
		{{/ file_types }}
	</div>
	{{/ enabled_filetypes }}

	<div>
		<input type="submit" value="Update Settings" data-gettext="value">
	</div>
{{/ settings_data }}
</form>
