<form accept-charset="utf-8" action="{{ form_action }}" method="post" enctype="multipart/form-data">
{{# settings_data }}
	<div class="display-table">
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-i18n="">General</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# name }}
			{{> panels/pieces/settings_text }}
		{{/ name }}
		{{# show_name }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_name }}
		{{# description }}
			{{> panels/pieces/settings_text }}
		{{/ description }}
		{{# show_description }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_description }}
		{{# favicon }}
			{{> panels/pieces/settings_text }}
		{{/ favicon }}
		{{# show_favicon }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_favicon }}
		{{# banner }}
			{{> panels/pieces/settings_text }}
		{{/ banner }}
		{{# show_banner }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_banner }}
		{{# locale }}
			{{> panels/pieces/settings_text }}
		{{/ locale }}
		{{# exclude_from_overboards }}
			{{> panels/pieces/settings_checkbox }}
		{{/ exclude_from_overboards }}
		{{# user_delete_own }}
			{{> panels/pieces/settings_checkbox }}
		{{/ user_delete_own }}
		{{# delete_post_renzoku }}
			{{> panels/pieces/settings_number }}
		{{/ delete_post_renzoku }}
		{{# safety_level }}
			{{> panels/pieces/settings_select }}
		{{/ safety_level }}
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-i18n="">New post</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# enable_name_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_name_field }}
		{{# require_name }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_name }}
		{{# min_name_length }}
			{{> panels/pieces/settings_number }}
		{{/ min_name_length }}
		{{# max_name_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_name_length }}
		{{# name_field_placeholder }}
			{{> panels/pieces/settings_text }}
		{{/ name_field_placeholder }}
		{{# enable_email_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_email_field }}
		{{# require_email }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_email }}
		{{# min_email_length }}
			{{> panels/pieces/settings_number }}
		{{/ min_email_length }}
		{{# max_email_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_email_length }}
		{{# email_field_placeholder }}
			{{> panels/pieces/settings_text }}
		{{/ email_field_placeholder }}
		{{# enable_subject_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_subject_field }}
		{{# require_subject }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_subject }}
		{{# min_subject_length }}
			{{> panels/pieces/settings_number }}
		{{/ min_subject_length }}
		{{# max_subject_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_subject_length }}
		{{# subject_field_placeholder }}
			{{> panels/pieces/settings_text }}
		{{/ subject_field_placeholder }}
		{{# enable_comment_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_comment_field }}
		{{# require_comment }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_comment }}
		{{# min_comment_length }}
			{{> panels/pieces/settings_number }}
		{{/ min_comment_length }}
		{{# max_comment_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_comment_length }}
		{{# comment_field_placeholder }}
			{{> panels/pieces/settings_text }}
		{{/ comment_field_placeholder }}
		{{# enable_fgsfds_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_fgsfds_field }}
		{{# fgsfds_field_placeholder }}
			{{> panels/pieces/settings_text }}
		{{/ fgsfds_field_placeholder }}
		{{# use_fgsfds_menu }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_fgsfds_menu }}
		{{# enable_password_field }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_password_field }}
		{{# password_field_placeholder }}
			{{> panels/pieces/settings_text }}
		{{/ password_field_placeholder }}
		{{# truncate_long_fields }}
			{{> panels/pieces/settings_checkbox }}
		{{/ truncate_long_fields }}
		{{# forced_anonymous }}
			{{> panels/pieces/settings_checkbox }}
		{{/ forced_anonymous }}
		{{# allow_op_files }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_op_files }}
		{{# require_op_file }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_op_file }}
		{{# allow_op_embeds }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_op_embeds }}
		{{# require_op_embed }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_op_embed }}
		{{# max_op_files }}
			{{> panels/pieces/settings_number }}
		{{/ max_op_files }}
		{{# max_op_embeds }}
			{{> panels/pieces/settings_number }}
		{{/ max_op_embeds }}
		{{# max_op_total_uploads }}
			{{> panels/pieces/settings_number }}
		{{/ max_op_total_uploads }}
		{{# allow_reply_files }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_reply_files }}
		{{# require_reply_file }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_reply_file }}
		{{# allow_reply_embeds }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_reply_embeds }}
		{{# require_reply_embed }}
			{{> panels/pieces/settings_checkbox }}
		{{/ require_reply_embed }}
		{{# max_reply_files }}
			{{> panels/pieces/settings_number }}
		{{/ max_reply_files }}
		{{# max_reply_embeds }}
			{{> panels/pieces/settings_number }}
		{{/ max_reply_embeds }}
		{{# max_reply_total_uploads }}
			{{> panels/pieces/settings_number }}
		{{/ max_reply_total_uploads }}
		{{# embed_replaces_file }}
			{{> panels/pieces/settings_checkbox }}
		{{/ embed_replaces_file }}
		{{# check_board_file_duplicates }}
			{{> panels/pieces/settings_checkbox }}
		{{/ check_board_file_duplicates }}
		{{# check_op_file_duplicates }}
			{{> panels/pieces/settings_checkbox }}
		{{/ check_op_file_duplicates }}
		{{# check_thread_file_duplicates }}
			{{> panels/pieces/settings_checkbox }}
		{{/ check_thread_file_duplicates }}
		{{# check_board_embed_duplicates }}
			{{> panels/pieces/settings_checkbox }}
		{{/ check_board_embed_duplicates }}
		{{# check_op_embed_duplicates }}
			{{> panels/pieces/settings_checkbox }}
		{{/ check_op_embed_duplicates }}
		{{# check_thread_embed_duplicates }}
			{{> panels/pieces/settings_checkbox }}
		{{/ check_thread_embed_duplicates }}
		{{# limit_thread_uploads }}
			{{> panels/pieces/settings_checkbox }}
		{{/ limit_thread_uploads }}
		{{# max_thread_uploads }}
			{{> panels/pieces/settings_number }}
		{{/ max_thread_uploads }}
		{{# max_filesize }}
			{{> panels/pieces/settings_number }}
		{{/ max_filesize }}
		{{# max_filesize_all_files }}
			{{> panels/pieces/settings_number }}
		{{/ max_filesize_all_files }}
		{{# enable_spoilers }}
			{{> panels/pieces/settings_checkbox }}
		{{/ enable_spoilers }}
		{{# allow_sage }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_sage }}
		{{# allow_tripcodes }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_tripcodes }}
		{{# process_new_post_commands }}
			{{> panels/pieces/settings_checkbox }}
		{{/ process_new_post_commands }}
		{{# allow_email_commands }}
			{{> panels/pieces/settings_checkbox }}
		{{/ allow_email_commands }}
		{{# thread_renzoku }}
			{{> panels/pieces/settings_number }}
		{{/ thread_renzoku }}
		{{# reply_renzoku }}
			{{> panels/pieces/settings_number }}
		{{/ reply_renzoku }}
		{{# max_cites }}
			{{> panels/pieces/settings_number }}
		{{/ max_cites }}
		{{# max_crossboard_cites }}
			{{> panels/pieces/settings_number }}
		{{/ max_crossboard_cites }}
		{{# max_comment_urls }}
			{{> panels/pieces/settings_number }}
		{{/ max_comment_urls }}
		{{# trim_comment_newlines_start }}
			{{> panels/pieces/settings_checkbox }}
		{{/ trim_comment_newlines_start }}
		{{# trim_comment_newlines_end }}
			{{> panels/pieces/settings_checkbox }}
		{{/ trim_comment_newlines_end }}
		{{# use_anonymous_names }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_anonymous_names }}
		{{# anonymous_names }}
			{{> panels/pieces/settings_text }}
		{{/ anonymous_names }}
		{{# always_noko }}
			{{> panels/pieces/settings_checkbox }}
		{{/ always_noko }}
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-i18n="">Content handling</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# preferred_filename }}
			{{> panels/pieces/settings_select }}
		{{/ preferred_filename }}
		{{# create_static_preview }}
			{{> panels/pieces/settings_checkbox }}
		{{/ create_static_preview }}
		{{# static_preview_images_only }}
			{{> panels/pieces/settings_checkbox }}
		{{/ static_preview_images_only }}
		{{# static_preview_format }}
			{{> panels/pieces/settings_select }}
		{{/ static_preview_format }}
		{{# create_animated_preview }}
			{{> panels/pieces/settings_checkbox }}
		{{/ create_animated_preview }}
		{{# animated_preview_images_only }}
			{{> panels/pieces/settings_checkbox }}
		{{/ animated_preview_images_only }}
		{{# animated_preview_format }}
			{{> panels/pieces/settings_select }}
		{{/ animated_preview_format }}
		{{# animated_preview_max_frames }}
			{{> panels/pieces/settings_number }}
		{{/ animated_preview_max_frames }}
		{{# jpeg_quality }}
			{{> panels/pieces/settings_number }}
		{{/ jpeg_quality }}
		{{# webp_quality }}
			{{> panels/pieces/settings_number }}
		{{/ webp_quality }}
		{{# max_preview_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_preview_width }}
		{{# max_preview_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_preview_height }}
		{{# keep_deleted_upload_entry }}
			{{> panels/pieces/settings_checkbox }}
		{{/ keep_deleted_upload_entry }}
		{{# limit_post_count }}
			{{> panels/pieces/settings_checkbox }}
		{{/ limit_post_count }}
		{{# max_posts }}
			{{> panels/pieces/settings_number }}
		{{/ max_posts }}
		{{# limit_bump_count }}
			{{> panels/pieces/settings_checkbox }}
		{{/ limit_bump_count }}
		{{# max_bumps }}
			{{> panels/pieces/settings_number }}
		{{/ max_bumps }}
		{{# active_threads }}
			{{> panels/pieces/settings_number }}
		{{/ active_threads }}
		{{# thread_buffer }}
			{{> panels/pieces/settings_number }}
		{{/ thread_buffer }}
		{{# old_threads }}
			{{> panels/pieces/settings_select }}
		{{/ old_threads }}
		{{# max_archive_threads }}
			{{> panels/pieces/settings_number }}
		{{/ max_archive_threads }}
		{{# do_archive_pruning }}
			{{> panels/pieces/settings_checkbox }}
		{{/ do_archive_pruning }}
		{{# store_exif_data }}
			{{> panels/pieces/settings_checkbox }}
		{{/ store_exif_data }}
		{{# max_slug_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_slug_length }}
		{{# slugify_thread_url }}
			{{> panels/pieces/settings_checkbox }}
		{{/ slugify_thread_url }}
		{{# strip_exif }}
			{{> panels/pieces/settings_checkbox }}
		{{/ strip_exif }}
		{{# keep_icc }}
			{{> panels/pieces/settings_checkbox }}
		{{/ keep_icc }}
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-i18n="">Page rendering</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# date_format }}
			{{> panels/pieces/settings_text }}
		{{/ date_format }}
		{{# index_thread_replies }}
			{{> panels/pieces/settings_number }}
		{{/ index_thread_replies }}
		{{# index_sticky_replies }}
			{{> panels/pieces/settings_number }}
		{{/ index_sticky_replies }}
		{{# threads_per_page }}
			{{> panels/pieces/settings_number }}
		{{/ threads_per_page }}
		{{# max_index_comment_lines }}
			{{> panels/pieces/settings_number }}
		{{/ max_index_comment_lines }}
		{{# max_index_comment_length }}
			{{> panels/pieces/settings_number }}
		{{/ max_index_comment_length }}
		{{# filter_zalgo }}
			{{> panels/pieces/settings_checkbox }}
		{{/ filter_zalgo }}
		{{# display_render_timer }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_render_timer }}
		{{# generate_catalog }}
			{{> panels/pieces/settings_checkbox }}
		{{/ generate_catalog }}
		{{# show_catalog_link }}
			{{> panels/pieces/settings_checkbox }}
		{{/ show_catalog_link }}
		{{# template_id }}
			{{> panels/pieces/settings_select }}
		{{/ template_id }}
		{{# default_style }}
			{{> panels/pieces/settings_select }}
		{{/ default_style }}
		{{# ui_icon_set }}
			{{> panels/pieces/settings_select }}
		{{/ ui_icon_set }}
		{{# filetype_icon_set }}
			{{> panels/pieces/settings_select }}
		{{/ filetype_icon_set }}
		{{# icon_set_fallback }}
			{{> panels/pieces/settings_checkbox }}
		{{/ icon_set_fallback }}
		{{# use_file_icon }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_file_icon }}
		{{# display_static_preview }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_static_preview }}
		{{# display_animated_preview }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_animated_preview }}
		{{# display_video_preview }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_video_preview }}
		{{# embed_video_files }}
			{{> panels/pieces/settings_checkbox }}
		{{/ embed_video_files }}
		{{# max_uploads_row }}
			{{> panels/pieces/settings_number }}
		{{/ max_uploads_row }}
		{{# max_preview_display_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_preview_display_width }}
		{{# max_preview_display_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_preview_display_height }}
		{{# max_embed_display_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_embed_display_width }}
		{{# max_embed_display_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_embed_display_height }}
		{{# max_multi_display_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_multi_display_width }}
		{{# max_multi_display_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_multi_display_height }}
		{{# max_catalog_display_width }}
			{{> panels/pieces/settings_number }}
		{{/ max_catalog_display_width }}
		{{# max_catalog_display_height }}
			{{> panels/pieces/settings_number }}
		{{/ max_catalog_display_height }}
		{{# filename_display_length }}
			{{> panels/pieces/settings_number }}
		{{/ filename_display_length }}
		{{# embed_url_display_length }}
			{{> panels/pieces/settings_number }}
		{{/ embed_url_display_length }}
		{{# fgsfds_name }}
			{{> panels/pieces/settings_text }}
		{{/ fgsfds_name }}
		{{# indent_marker }}
			{{> panels/pieces/settings_text }}
		{{/ indent_marker }}
		{{# tripcode_marker }}
			{{> panels/pieces/settings_text }}
		{{/ tripcode_marker }}
		{{# no_comment_text }}
			{{> panels/pieces/settings_text }}
		{{/ no_comment_text }}
		{{# display_post_backlinks }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_post_backlinks }}
		{{# display_poster_id }}
			{{> panels/pieces/settings_checkbox }}
		{{/ display_poster_id }}
		{{# poster_id_colors }}
			{{> panels/pieces/settings_checkbox }}
		{{/ poster_id_colors }}
		{{# poster_id_length }}
			{{> panels/pieces/settings_number }}
		{{/ poster_id_length }}
		{{# create_url_links }}
			{{> panels/pieces/settings_checkbox }}
		{{/ create_url_links }}
		{{# url_protocols }}
			{{> panels/pieces/settings_text }}
		{{/ url_protocols }}
		{{# url_prefix }}
			{{> panels/pieces/settings_text }}
		{{/ url_prefix }}
		{{# display_original_name }}
			{{> panels/pieces/settings_text }}
		{{/ display_original_name }}
		{{# display_deleted_placeholder }}
			{{> panels/pieces/settings_text }}
		{{/ display_deleted_placeholder }}
		{{# board_content_disclaimer }}
			{{> panels/pieces/settings_textarea }}
		{{/ board_content_disclaimer }}
		{{# index_nav_top }}
			{{> panels/pieces/settings_checkbox }}
		{{/ index_nav_top }}
		{{# index_nav_bottom }}
			{{> panels/pieces/settings_checkbox }}
		{{/ index_nav_bottom }}
		{{# image_spoiler_cover }}
			{{> panels/pieces/settings_text }}
		{{/ image_spoiler_cover }}
		{{# image_deleted_file }}
			{{> panels/pieces/settings_text }}
		{{/ image_deleted_file }}
		{{# image_deleted_embed }}
			{{> panels/pieces/settings_text }}
		{{/ image_deleted_embed }}
		{{# subject_in_title }}
			{{> panels/pieces/settings_checkbox }}
		{{/ subject_in_title }}
		{{# slug_in_title }}
			{{> panels/pieces/settings_checkbox }}
		{{/ slug_in_title }}
		{{# thread_number_in_title }}
			{{> panels/pieces/settings_checkbox }}
		{{/ thread_number_in_title }}
		{{# prefix_board_title }}
			{{> panels/pieces/settings_checkbox }}
		{{/ prefix_board_title }}
		{{# list_file_formats }}
			{{> panels/pieces/settings_checkbox }}
		{{/ list_file_formats }}
		{{# list_file_extensions }}
			{{> panels/pieces/settings_checkbox }}
		{{/ list_file_extensions }}
		{{# board_footer_text }}
			{{> panels/pieces/settings_textarea }}
		{{/ board_footer_text }}
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-i18n="">Anti-spam</span>
			</span>
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/ show_locked }}
		</div>
		{{# use_post_captcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_post_captcha }}
		{{# use_post_recaptcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_post_recaptcha }}
		{{# use_report_captcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_report_captcha }}
		{{# use_report_recaptcha }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_report_recaptcha }}
		{{# use_honeypot }}
			{{> panels/pieces/settings_checkbox }}
		{{/ use_honeypot }}
	</div>
	{{# enabled_styles }}
	<div class="display-table text-left">
		<div class="display-row">
			<hr class="display_cell">
		{{# show_locked }}
			<span class="display-cell"></span>
		{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-i18n="">Styles</span>
			</span>
		{{# show-locked }}
			<span class="display-cell"></span>
		{{/ show-locked }}
		</div>
		{{# show_lock_update }}
		<div class="display-row">
			{{> panels/pieces/settings_lock_update }}
		</div>
		{{/ show_lock_update }}
		{{# styles }}
			{{# entry }}
		<div class="display-row">
			<span class="display-cell">
				<input type="hidden" name="{{ input_name }}[default]" value="0">
				<label>
				<input type="checkbox" name="{{ input_name }}[value]" value="1" {{ checked }} {{ disabled }}>
				<span>{{ item_label }}</span>
				</label>
			</span>
		</div>
			{{/ entry }}
		{{/ styles }}
	</div>
	{{/ enabled_styles }}
	{{# enabled_filetypes }}
	<div class="display-table text-left">
		<div class="display-row">
			<hr class="display_cell">
			{{# show_locked }}
			<span class="display-cell"></span>
			{{/show_locked }}
		</div>
		<div class="display-row">
			<span class="display-cell">
				<span class="bold" data-i18n="">Filetypes</span>
			</span>
			{{# show-locked }}
			<span class="display-cell"></span>
			{{/ show-locked }}
		</div>
		{{# show_lock_update }}
		<div class="display-row">
			{{> panels/pieces/settings_lock_update }}
		</div>
		{{/ show_lock_update }}
		{{# file_types }}
			{{# category_select }}
		<div class="display-row">
			<span class="display-cell">
				<br>
				<input type="hidden" name="{{ input_name }}[default]" value="0">
				<label>
				<input type="checkbox" name="{{ input_name }}[value]" value="1" {{ checked }} {{ disabled }}>
				<span class="bold">{{ item_label }}</span>
				</label>
			</span>
		</div>
			{{/ category_select }}
			{{# entry_rows }}
		<div class="display-row">
				{{# entry }}
			<span class="display-cell">
				<input type="hidden" name="{{ input_name }}[default]" value="0">
				<label>
				<input type="checkbox" name="{{ input_name }}[value]" value="1" {{ checked }} {{ disabled }}>
				<span>{{ item_label }}</span>
				</label>
			</span>
				{{/ entry }}
		</div>
			{{/ entry_rows }}
		{{/ file_types }}
	</div>
	{{/ enabled_filetypes }}

	<div>
		<input type="submit" value="Update Settings" data-i18n-attributes="value">
	</div>
{{/ settings_data }}
</form>
