<form accept-charset="utf-8" action="{{ form_action }}" method="post">
	<div class="display-table">
		<div class="display-row">
			<label for="service_domain" class="display-cell" data-i18n="gettext">Service domain</label>
			<input id="service_domain" class="display-cell" type="text" name="service_domain" size="30" value="{{ service_domain }}">
		</div>
		<div class="display-row">
			<label for="return_codes" class="display-cell" data-i18n="gettext">Return codes</label>
			<textarea id="return_codes" class="display-cell" name="return_codes" cols="64" rows="3">{{ return_codes }}</textarea>
		</div>
		<div class="display-row">
			<label for="enabled" class="display-cell" data-i18n="gettext">Enabled</label>
			<input id="enabled" class="display-cell" type="checkbox" value="1" name="enabled" {{ enabled_checked }}>
		</div>
		<div class="display-row">
			{{> panels/pieces/add_edit_submit }}
		</div>
	</div>
</form>
