<div>
	<a href="{{ new_url }}">Add new DNSBL entry</a>
</div>
<table class="data-table">
	<caption class="data-table-caption" data-i18n="gettext">List of DNSBL entries</caption>
	<thead class="data-table-header">
		<tr>
			<th data-i18n="gettext">ID</th>
			<th data-i18n="gettext">Service domain</th>
			<th data-i18n="gettext">Return codes</th>
			<th data-i18n="gettext">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# service_list }}
		<tr class="{{ bgclass }}">
			<td>{{ entry }}</td>
			<td>{{ service_domain }}</td>
			<td>{{ return_codes }}</td>
			<td>
				<span>[<a class="display-cell" href="{{ enable_disable_url }}">{{ enable_disable_text }}</a>]</span>
				<span>[<a class="display-cell" href="{{ edit_url }}" data-i18n="gettext">Edit</a>]</span>
				<span>[<a class="display-cell" href="{{ remove_url }}" data-i18n="gettext">Remove</a>]</span>
			</td>
		</tr>
{{/ service_list }}
	</tbody>
</table>