<form accept-charset="utf-8" action="{{ form_action }}" method="post">
	<div class="display-table">
		<div class="display-row">
			<label for="base_extension" class="display-cell" data-gettext="">Base extension</label>
			<input id="base_extension" class="display-cell" type="text" name="base_extension" value="{{ base_extension }}">
		</div>
		<div class="display-row">
			<label for="type" class="display-cell" data-gettext="">Category</label>
			<input id="type" class="display-cell" type="text" name="type" value="{{ type }}">
		</div>
		<div class="display-row">
			<label for="format" class="display-cell" data-gettext="">Format</label>
			<input id="format" class="display-cell" type="text" name="format" value="{{ format }}">
		</div>
		<div class="display-row">
			<label for="mime" class="display-cell" data-gettext="">Mime</label>
			<input id="mime" class="display-cell" type="text" name="mime" value="{{ mime }}">
		</div>
		<div class="display-row">
			<label for="sub_extensions" class="display-cell" data-gettext="">Sub extensions</label>
			<input id="sub_extensions" class="display-cell" type="text" name="sub_extensions" value="{{ sub_extensions }}">
		</div>
		<div class="display-row">
			<label for="regex" class="display-cell" data-gettext="">ID regex</label>
			<input id="regex" class="display-cell" type="text" name="id_regex" value="{{ id_regex }}">
		</div>
		<div class="display-row">
			<label for="label" class="display-cell" data-gettext="">Label</label>
			<input id="label" class="display-cell" type="text" name="label" value="{{ label }}">
		</div>
			<div class="display-row">
			<label for="enabled" class="display-cell" data-gettext="">Enabled</label>
			<input id="enabled" class="display-cell" type="checkbox" value="1" name="enabled" {{ enabled_checked }}>
		</div>
		<div class="display-row">
			<input type="submit" value="Update Filetype" data-gettext="value">
		</div>
	</div>
</form>