<div>
	<a href="{{ new_filetype_url }}">Add new filetype</a>
</div>
<hr>
<table class="data-table">
	<caption class="data-table-caption" data-gettext="">List of filetypes</caption>
	<thead class="data-table-header">
		<tr>
			<th data-gettext="">Base extension</th>
			<th data-gettext="">Category</th>
			<th data-gettext="">Format</th>
			<th data-gettext="">Mime</th>
			<th data-gettext="">Sub extensions</th>
			<th data-gettext="">ID regex</th>
			<th data-gettext="">Label</th>
			<th data-gettext="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# filetype_list }}
		<tr class="{{ bgclass }}">
			<td>{{ base_extension }}</td>
			<td>{{ type }}</td>
			<td>{{ format }}</td>
			<td>{{ mime }}</td>
			<td>{{ sub_extensions }}</td>
			<td>{{ id_regex }}</td>
			<td>{{ type_label }}</td>
			<td>
				<span>[<a class="display-cell" href="{{ enable_disable_url }}">{{ enable_disable_text }}</a>]</span>
				<span>[<a class="display-cell" href="{{ edit_url }}">Edit</a>]</span>
				<span>[<a class="display-cell" href="{{ remove_url }}" data-gettext="">Remove</a>]</span>
			</td>
		</tr>
{{/ filetype_list }}
	</tbody>
</table>