<table class="data-table">
	<caption class="data-table-caption" data-gettext="">List of boards</caption>
	<thead class="data-table-header">
		<tr>
			<th data-gettext="">Board URI</th>
			<th data-gettext="">DB Prefix</th>
			<th data-gettext="">Status</th>
			<th data-gettext="">Lock/Unlock</th>
			<th data-gettext="">Remove</th>
		</tr>
	</thead>
	<tbody>
{{# board_list }}
		<tr class="{{ bgclass }}">
			<td>
				<a href="{{ board_url }}">{{ board_uri }}</a>
			</td>
			<td>{{ db_prefix }}</td>
			<td>{{ status }}</td>
			<td>
				<a href="{{ lock_url }}">{{ lock_text }}</a>
			</td>
			<td>
				<a href="{{ remove_url }}">Delete Board</a>
			</td>
		</tr>
{{/ board_list }}
	</tbody>
</table>
<hr>
<form action="{{ form_action }}" method="post" enctype="multipart/form-data">
	<div class="display-table">
		<div class="display-row">
			<label for="new_board_uri" class="display-cell" data-gettext="">Board URI</label>
			<input id="new_board_uri" class="display-cell" type="text" name="new_board_uri" size="30" maxlength="50" value="">
		</div>
		{{# alphanumeric_only }}
		<div class="display-row">
			<span class="display-cell" data-gettext="">Only alphanumeric board URIs are allowed!</span>
		</div>
		{{/ alphanumeric_only }}
		<div class="display-row">
			<input type="submit" value="Create Board" data-gettext="value">
		</div>
	</div>
</form>