<table class="data-table">
	<caption class="data-table-caption" data-i18n="">List of reports</caption>
	<thead class="data-table-header">
		<tr>
			<th data-i18n="">Report ID</th>
			<th data-i18n="">Board ID</th>
			<th data-i18n="">Content ID</th>
			<th data-i18n="">Reason</th>
			<th data-i18n="">Reporter IP</th>
			<th data-i18n="">Dismiss Report</th>
		</tr>
	</thead>
	<tbody>
{{# reports_list }}
		<tr class="{{ bgclass }}">
			<td>{{ report_id }}</td>
			<td>{{ board_id }}</td>
			<td>
				<a href="{{ content_url }}">{{ content_id }}</a>
	{{# is_upload }}
				<a href="{{ file_url }}" data-i18n=""> [File Link]</a>
	{{/ is_upload }}
			</td>
			<td>{{ reason }}</td>
			<td>{{ reporter_ip }}</td>
			<td>
				<a href="{{ dismiss_url }}" data-i18n="">Dismiss Report</a>
			</td>
		</tr>
{{/ reports_list }}
	</tbody>
</table>
