<table class="data-table">
	<caption class="data-table-caption" data-gettext="">List of roles</caption>
	<thead class="data-table-header">
		<tr>
			<th data-gettext="">Role ID</th>
			<th data-gettext="">Level</th>
			<th data-gettext="">Title</th>
			<th data-gettext="">Capcode Text</th>
			<th data-gettext="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# roles_list }}
		<tr class="{{ bgclass }}">
			<td>{{ role_id }}</td>
			<td>{{ role_level }}</td>
			<td>{{ role_title }}</td>
			<td>{{ capcode }}</td>
			<td>
				<span>[<a href="{{ edit_url }}" data-gettext="">Edit</a>]</span>
				<span>[<a href="{{ remove_url }}" data-gettext="">Remove</a>]</span>
			</td>
		</tr>
{{/ roles_list }}
	</tbody>
</table>
<hr>
<div>
	<a href="{{ new_role_url }}" data-gettext="">New Role</a>
</div>