<table class="data-table">
	<caption class="data-table-caption" data-i18n="">List of roles</caption>
	<thead class="data-table-header">
		<tr>
			<th data-i18n="">Role ID</th>
			<th data-i18n="">Level</th>
			<th data-i18n="">Title</th>
			<th data-i18n="">Capcode Text</th>
			<th data-i18n="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# roles_list }}
		<tr class="{{ bgclass }}">
			<td>{{ role_id }}</td>
			<td>{{ role_level }}</td>
			<td>{{ role_title }}</td>
			<td>{{ capcode }}</td>
			<td>
				<span>[<a href="{{ edit_url }}" data-i18n="">Edit</a>]</span>
				<span>[<a href="{{ remove_url }}" data-i18n="">Remove</a>]</span>
			</td>
		</tr>
{{/ roles_list }}
	</tbody>
</table>
<hr>
<div>
	<a href="{{ new_role_url }}" data-i18n="">New Role</a>
</div>