<table class="data-table">
	<caption class="data-table-caption" data-gettext="">Installed styles</caption>
	<thead class="data-table-header">
		<tr>
			<th data-gettext="">Style ID</th>
			<th data-gettext="">Type</th>
			<th data-gettext="">Name</th>
			<th data-gettext="">Directory</th>
			<th data-gettext="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# installed_list }}
		<tr class="{{ bgclass }}">
			<td>{{ id }}</td>
			<td>{{ style_type }}</td>
			<td>{{ name }}</td>
			<td>{{ directory }}</td>
			<td>
				<span>[<a class="display-cell" href="{{ remove_url }}" data-gettext="">Uninstall</a>]</span>
			</td>
		</tr>
{{/ installed_list }}
	</tbody>
</table>
<hr>
<table class="data-table">
	<caption class="data-table-caption" data-gettext="">Available styles</caption>
	<thead class="data-table-header">
		<tr>
			<th data-gettext="">Style ID</th>
			<th data-gettext="">Type</th>
			<th data-gettext="">Name</th>
			<th data-gettext="">Directory</th>
			<th data-gettext="">Installed</th>
			<th data-gettext="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# available_list }}
		<tr class="{{ bgclass }}">
			<td>{{ id }}</td>
			<td>{{ style_type }}</td>
			<td>{{ name }}</td>
			<td>{{ directory }}</td>
			<td>
	{{^ is_installed }}
				<span data-gettext="">No</span>
	{{/ is_installed }}
	{{# is_installed }}
				<span data-gettext="">Yes</span>
	{{/ is_installed }}
			</td>
			<td>
	{{^ is_installed }}
				<span>[<a class="display-cell" href="{{ install_url }}" data-gettext="">Install Style</a>]</span>
	{{/ is_installed }}
			</td>
		</tr>
{{/ available_list }}
	</tbody>
</table>