<table class="data-table">
	<caption class="data-table-caption" data-i18n="">List of posts in thread</caption>
	<thead class="data-table-header">
		<tr>
			<th data-i18n="">Post Number</th>
			<th data-i18n="">Thread</th>
			<th data-i18n="">Time</th>
			<th data-i18n="">IP</th>
			<th data-i18n="">Name</th>
			<th data-i18n="">Email</th>
			<th data-i18n="">Subject</th>
			<th data-i18n="">Comment</th>
			<th data-i18n="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# posts }}
		<tr class="{{ bgclass }}">
			<td>{{ post_number }}</td>
			<td>{{ parent_thread }}</td>
			<td>{{ post_time }}</td>
			<td>{{ poster_ip }}</td>
			<td>{{ name }}</td>
			<td>{{ email }}</td>
			<td>
				<a href="{{ thread_url }}" rel="external">{{ subject }}</a>
			</td>
			<td>{{ comment }}</td>
			<td>
				<span class="text-button">[<a href="{{ sticky_url }}">{{ sticky_text }}</a>]&nbsp;</span>
				<span class="text-button">[<a href="{{ delete_url }}">{{ delete_text }}</a>]</span>
			</td>
		</tr>
{{/ posts }}
	</tbody>
</table>