<table class="data-table">
	<caption class="data-table-caption" data-i18n="">List of threads</caption>
	<thead class="data-table-header">
		<tr>
			<th data-i18n="">Expand</th>
			<th data-i18n="">First Post</th>
			<th data-i18n="">Last Updated</th>
			<th data-i18n="">Subject</th>
			<th data-i18n="">Name</th>
			<th data-i18n="">Host</th>
			<th data-i18n="">Total Posts</th>
			<th data-i18n="">Total Files</th>
			<th data-i18n="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# threads }}
		<tr class="{{ bgclass }}">
			<td>
				<span class="text-button">[<a href="{{ expand_url }}" data-i18n="">Expand Thread</a>]</span>
			</td>
			<td>{{ thread_id }}</td>
			<td>{{ last_update }}</td>
			<td>
				<a href="{{ thread_url }}" rel="external">{{ subject }}</a>
			</td>
			<td>{{ op_name }}</td>
			<td>{{ op_ip }}</td>
			<td>{{ post_count }}</td>
			<td>{{ total_uploads }}</td>
			<td>
				<span class="text-button">[<a href="{{ sticky_url }}">{{ sticky_text }}</a>]&nbsp;</span>
				<span class="text-button">[<a href="{{ lock_url }}">{{ lock_text }}</a>]&nbsp;</span>
				<span class="text-button">[<a href="{{ delete_url }}">{{ delete_text }}</a>]</span>
			</td>
		</tr>
{{/ threads }}
	</tbody>
</table>