<table class="data-table">
	<caption class="data-table-caption" data-gettext="">List of threads</caption>
	<thead class="data-table-header">
		<tr>
			<th data-gettext="">Expand</th>
			<th data-gettext="">First Post</th>
			<th data-gettext="">Last Updated</th>
			<th data-gettext="">Subject</th>
			<th data-gettext="">Name</th>
			<th data-gettext="">Host</th>
			<th data-gettext="">Total Posts</th>
			<th data-gettext="">Total Files</th>
			<th data-gettext="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# threads }}
		<tr class="{{ bgclass }}">
			<td>
				<span>[<a href="{{ expand_url }}" data-gettext="">Expand Thread</a>]</span>
			</td>
			<td>{{ thread_id }}</td>
			<td>{{ last_update }}</td>
			<td>
				<a href="{{ thread_url }}" rel="external">{{ subject }}</a>
			</td>
			<td>{{ op_name }}</td>
			<td>{{ op_ip }}</td>
			<td>{{ post_count }}</td>
			<td>{{ total_content }}</td>
			<td>
				<span>[<a href="{{ sticky_url }}">{{ sticky_text }}</a>]&nbsp;</span>
				<span>[<a href="{{ lock_url }}">{{ lock_text }}</a>]&nbsp;</span>
				<span>[<a href="{{ delete_url }}">{{ delete_text }}</a>]</span>
			</td>
		</tr>
{{/ threads }}
	</tbody>
</table>