<table class="data-table">
	<caption class="data-table-caption" data-gettext="">List of posts in thread</caption>
	<thead class="data-table-header">
		<tr>
			<th data-gettext="">Post Number</th>
			<th data-gettext="">Thread</th>
			<th data-gettext="">Time</th>
			<th data-gettext="">IP</th>
			<th data-gettext="">Name</th>
			<th data-gettext="">Email</th>
			<th data-gettext="">Subject</th>
			<th data-gettext="">Comment</th>
			<th data-gettext="">Actions</th>
		</tr>
	</thead>
	<tbody>
{{# posts }}
		<tr class="{{ bgclass }}">
			<td>{{ post_number }}</td>
			<td>{{ parent_thread }}</td>
			<td>{{ post_time }}</td>
			<td>{{ poster_ip }}</td>
			<td>{{ name }}</td>
			<td>{{ email }}</td>
			<td>
				<a href="{{ thread_url }}" rel="external">{{ subject }}</a>
			</td>
			<td>{{ comment }}</td>
			<td>
				<span>[<a href="{{ sticky_url }}">{{ sticky_text }}</a>]&nbsp;</span>
				<span>[<a href="{{ delete_url }}">{{ delete_text }}</a>]</span>
			</td>
		</tr>
{{/ posts }}
	</tbody>
</table>