:root {
	--main-background-color: #77FFBB;
	--main-color: #000000;
	--base-font-family: serif;
	--base-font-size: 100%;
	--hr-color: inherit;
	--link-color: #0000EE;
	--link-visited-color: #0000FF;
	--link-hover-color: #3322AA;
	--h1-color: #800000;
	--h2-color: #800000;
	--data-table-background-color: #FFFFFF;
	--data-table-color: inherit;
	--data-table-header-background-color: #33AAFF;
	--data-table-header-color: inherit;
	--data-table-row1-background-color: #9AD2F6;
	--data-table-row1-color: inherit;
	--data-table-row2-background-color: #FFFFFF;
	--data-table-row2-color: inherit;
	--manage-header-background-color: #33AAFF;
	--manage-header-color: inherit;
	--manage-subheader-background-color: #55BBFF;
	--manage-subheader-color: inherit;
	--posting-form-label-background-color: #33AAFF;
	--posting-form-label-border: none;
	--op-background-color: inherit;
	--op-border: none;
	--op-highlight-color: #AABBFF;
	--op-name-color: #7700DD;
	--op-subject-color: #0033FF;
	--reply-background-color: #77EEFF;
	--reply-border: 1px solid #66DDFF;
	--reply-highlight-color: #AABBFF;
	--reply-name-color: #7700DD;
	--reply-subject-color: #0033FF;
	--mod-comment-background-color: inherit;
	--mod-comment-color: #FF0000;
	--omitted-background-color: inherit;
	--omitted-color: #070707;
	--greentext-background-color: inherit;
	--greentext-color: #992244FFFF;
}
