:root {
	--main-background: #77FFBB;
	--main-color: #000000;
	--base-font-family: serif;
	--base-font-size: 100%;
	--hr-color: inherit;
	--link-color: #0000EE;
	--link-visited-color: #0000FF;
	--link-hover-color: #3322AA;
	--h1-color: #800000;
	--h2-color: #800000;
	--data-table-background: #FFFFFF;
	--data-table-color: inherit;
	--data-table-header-background: #33AAFF;
	--data-table-header-color: inherit;
	--data-table-row1-background: #9AD2F6;
	--data-table-row1-color: inherit;
	--data-table-row2-background: #FFFFFF;
	--data-table-row2-color: inherit;
	--manage-header-background: #33AAFF;
	--manage-header-color: inherit;
	--manage-subheader-background: #55BBFF;
	--manage-subheader-color: inherit;
	--posting-form-label-background: #33AAFF;
	--posting-form-label-border: none;
	--op-post-background: inherit;
	--op-post-border: none;
	--op-post-highlight-color: #AABBFF;
	--op-post-name-color: #7700DD;
	--op-post-subject-color: #0033FF;
	--op-post-comments-color: inherit;
	--reply-post-background: #77EEFF;
	--reply-post-border: 1px solid #66DDFF;
	--reply-post-highlight-color: #AABBFF;
	--reply-post-name-color: #7700DD;
	--reply-post-subject-color: #0033FF;
	--reply-post-comments-color: inherit;
	--mod-comment-background: inherit;
	--mod-comment-color: #FF0000;
	--omitted-background: inherit;
	--omitted-color: #070707;
	--quote-background: inherit;
	--quote-color: #992244FFFF;
	--news-article-background: #77EEFF;
	--news-article-header-background: #33AAFF;
	--news-headline-color: inherit;
	--news-paragraph-color: inherit;
}
