<!DOCTYPE html>
<html>
	{{> pieces/head }}
	<body>
		<p data-i18n="">Enter configuration for hashing.</p>
		<form accept-charset="utf-8" action="imgboard.php?install&step=crypt-config" method="post">
			<div class="display-table">
				<div class="display-row">
					<label for="account_password_algorithm" class="display-cell form-label" data-i18n="">Account password hashing algorithm</label>
					<select id="account_password_algorithm" class="display-cell form-input" name="account_password_algorithm">
						<option value="BCRYPT" data-i18n="">Bcrypt</option>
                    	<option value="ARGON2" data-i18n="">Argon2</option>
					</select>
				</div>
				<div class="display-row">
					<label for="account_password_bcrypt_cost" class="display-cell form-label" data-i18n="">Account password Bcrypt cost.</label>
					<input id="account_password_bcrypt_cost" class="display-cell form-input" type="number" name="account_password_bcrypt_cost" min="4" max="31" value="12">
				</div>
				<div class="display-row">
					<label for="account_password_argon2_memory_cost" class="display-cell form-label" data-i18n="">Account password Argon2 memory cost (must be a power of 2).</label>
					<input id="account_password_argon2_memory_cost" class="display-cell form-input" type="number" name="account_password_argon2_memory_cost" min="2" value="1024">
				</div>
				<div class="display-row">
					<label for="account_password_argon2_time_cost" class="display-cell form-label" data-i18n="">Account password Argon2 time cost.</label>
					<input id="account_password_argon2_time_cost" class="display-cell form-input" type="number" name="account_password_argon2_time_cost" min="0" value="2">
				</div>
				<div class="display-row">
					<label for="account_password_argon2_threads" class="display-cell form-label" data-i18n="">Account password Argon2 threads.</label>
					<input id="account_password_argon2_threads" class="display-cell form-input" type="number" name="account_password_argon2_threads" min="1" value="2">
				</div>
				<div class="display-row">
					<label for="account_password_max_length" class="display-cell form-label" data-i18n="">Maximum characters in account passwords.</label>
					<input id="account_password_max_length" class="display-cell form-input" type="number" name="account_password_max_length" min="1" value="256">
				</div>
				<div class="display-row">
					<label for="post_password_strong_hashing" class="display-cell form-label" data-i18n="">Use strong hashing for post passwords.</label>
					<input id="post_password_strong_hashing" class="display-cell form-input" type="checkbox" name="post_password_strong_hashing" value="1">
				</div>
				<div class="display-row">
					<label for="post_password_strong_algorithm" class="display-cell form-label" data-i18n="">Post password strong hashing algorithm.</label>
					<select id="post_password_strong_algorithm" class="display-cell form-input" name="post_password_strong_algorithm">
						<option value="BCRYPT" data-i18n="">Bcrypt</option>
					</select>
				</div>
				<div class="display-row">
					<label for="post_password_strong_bcrypt_cost" class="display-cell form-label" data-i18n="">Post password strong Bcrypt cost.</label>
					<input id="post_password_strong_bcrypt_cost" class="display-cell form-input" type="number" name="post_password_strong_bcrypt_cost" min="4" max="31" value="8">
				</div>
				<div class="display-row">
					<label for="post_password_max_length" class="display-cell form-label" data-i18n="">Maximum characters in post passwords.</label>
					<input id="post_password_max_length" class="display-cell form-input" type="number" name="post_password_max_length" min="1" value="256">
				</div>
				<div class="display-row">
					<label for="ip_strong_hashing" class="display-cell form-label" data-i18n="">Use strong hashing for IP addresses.</label>
					<input id="ip_strong_hashing" class="display-cell form-input" type="checkbox" name="ip_strong_hashing" value="1">
				</div>
				<div class="display-row">
					<label for="ip_strong_algorithm" class="display-cell form-label" data-i18n="">IP strong hashing algorithm.</label>
					<select id="ip_strong_algorithm" class="display-cell form-input" name="ip_strong_algorithm">
						<option value="BCRYPT" data-i18n="">Bcrypt</option>
					</select>
				</div>
				<div class="display-row">
					<label for="ip_strong_bcrypt_cost" class="display-cell form-label" data-i18n="">IP strong Bcrypt cost.</label>
					<input id="ip_strong_bcrypt_cost" class="display-cell form-input" type="number" name="ip_strong_bcrypt_cost" min="4" max="31" value="8">
				</div>
				<div class="display-row">
					<input class="display-cell form-input" type="submit" value="Submit" data-i18n-attributes="value">
				</div>
			</div>
		</form>
	</body>
</html>