<?php
defined('NELLIEL_VERSION') or die('NOPE.AVI');

// If you want to manually configure these settings before installing, copy this file to 'if_thens.php' and edit it.

// Example
// $checkpoints = ['new_post'][] = [
//      'conditions' => ['name' => 'sage'],
//      'actions' => ['reject' => ['message' => 'no']]
// ];

$checkpoints = [];
