<?php
defined('NELLIEL_VERSION') or die('NOPE.AVI');

//
// This file has only the very basic configuration needed to function and do setup.
// It is intentionally kept short and simple.
// All other settings are accessible from the management panels and stored in the database.
//

//
// === General Settings ===
//

// The fallback default value for locale. Only used for installation and if no other locale setting is available.
// Locale should follow the standard format using ISO-639 language and ISO-3166 country codes, e.g. 'en_US' for 'English (United States)'.
// The available locales and their translations can be found in the directory 'languages/locale'.
$base_config['default_locale'] = 'en_US';

// Forces Nelliel to only allow sessions over a secure connection.
// Once SSL is set up for the site, it is recommended that you set this to true.
$base_config['secure_session_only'] = false;

// Secret key that must be entered before running the install functions.
// The key is used to prevent the installer from being hijacked before it's ready.
// Install will not run if this is blank.
$base_config['install_key'] = '';

//
// === Database Access Settings ===
//

// Database type.
// Currently supported types: MYSQL, MARIADB, POSTGRESQL, SQLITE
$db_config['core']['sqltype'] = 'MYSQL';

// Timeout for the database connection.
$db_config['core']['timeout'] = 30;

//
// Configuration for MySQL
//

// Name of database.
$db_config['core']['mysql']['database'] = '';

// MySQL Server address.
$db_config['core']['mysql']['host'] = 'localhost';

// MySQL server port. Default is 3306.
$db_config['core']['mysql']['port'] = '3306';

// Name of database user.
$db_config['core']['mysql']['user'] = '';

// Password of database user.
$db_config['core']['mysql']['password'] = '';

// The character encoding to use.
$db_config['core']['mysql']['encoding'] = 'utf8mb4';

//
// Configuration for MariaDB
//

// Name of database.
$db_config['core']['mariadb']['database'] = '';

// MySQL Server address.
$db_config['core']['mariadb']['host'] = 'localhost';

// MySQL server port. Default is 3306.
$db_config['core']['mariadb']['port'] = '3306';

// Name of database user.
$db_config['core']['mariadb']['user'] = '';

// Password of database user.
$db_config['core']['mariadb']['password'] = '';

// The character encoding to use.
$db_config['core']['mariadb']['encoding'] = 'utf8mb4';

//
// Configuration for PostgreSQL
//

// Name of database.
$db_config['core']['postgresql']['database'] = '';

// PostgreSQL Server address.
$db_config['core']['postgresql']['host'] = 'localhost';

// PostgreSQL server port. Default is 5432.
$db_config['core']['postgresql']['port'] = '5432';

// Name of database user.
$db_config['core']['postgresql']['user'] = '';

// Password of database user.
$db_config['core']['postgresql']['password'] = '';

// Which schema to use. Default is 'public'.
$db_config['core']['postgresql']['schema'] = 'public';

// The character encoding to use.
$db_config['core']['postgresql']['encoding'] = 'UTF-8';

//
// Configuration for SQLite
//

// WARNING: The database path MUST be a location outside of web-accessible directories!
// Otherwise someone could just download the whole thing.
// If this is not possible on your host, do not use SQLite for your database!

// Filename of SQLite database.
$db_config['core']['sqlite']['file_name'] = 'nelliel.sqlite';

// Path where the database is to be located. Defaults to the core directory if empty.
$db_config['core']['sqlite']['path'] = '';

// The character encoding to use. Should be fine as-is.
$db_config['core']['sqlite']['encoding'] = 'UTF-8';

//
// === Technical Settings ===
//

// In most cases you won't need to mess with this stuff.

// Default file and directory permissions. Must be in the proper octal format.
$base_config['directory_perm'] = '0755';
$base_config['file_perm'] = '0644';

// Base directory for temporary files. When empty, the system default is used.
$base_config['base_temp_directory'] = '';

// Enable/disable plugins.
$base_config['enable_plugins'] = true;

// Enable/disable JSON API.
$base_config['enable_json_api'] = true;

// Enable/disable template caching for Mustache.
$base_config['use_mustache_cache'] = true;

// Enable/disable Nelliel's internal caching systems. These are separate from external systems like memcache.
// Nelliel can function without them enabled but things become immensely slower.
// The only time these need to be disabled is for testing or troubleshooting.

// Writes certain commonly used settings and data to files for faster access.
$base_config['use_file_cache'] = true;

// Stores some parsing and rendering data so it doesn't have to be processed every time things are rendered.
$base_config['use_render_cache'] = true;

//
// === Crypt Settings ===
//

// Passwords
// The hashing algorithm to use for account and post passwords.
// If a selected algorithm is not available, Nelliel will use the PASSWORD_DEFAULT.
// Current valid options: BCRYPT, ARGON2
$crypt_config['password_algorithm'] = 'BCRYPT';

// Bcrypt

// PHP default cost is 10; Nelliel default is 12; 04 is the minimum; 31 is maximum.
$crypt_config['password_bcrypt_cost'] = '12';

// Argon2

// PHP default memory cost is 1024; Nelliel default is 1024.
$crypt_config['password_argon2_memory_cost'] = 1024;

// PHP default time cost is 2; Nelliel default is 2.
$crypt_config['password_argon2_time_cost'] = 2;

// PHP default threads is 2; Nelliel default is 2.
$crypt_config['password_argon2_threads'] = 2;

// IP Addresses
// The hashing used for IP addresses. Only Bcrypt for now.
$crypt_config['ip_hash_algorithm'] = 'BCRYPT';

// This is normally a lower security concern than passwords so the default is less to save processing time.
// PHP default cost is 10; Nelliel default is 08; 04 is the minimum; 31 is maximum.
$crypt_config['ip_hash_bcrypt_cost'] = '08';
