<?php
defined('NELLIEL_VERSION') or die('NOPE.AVI');

//
// Example file for base configuration.
// If you want to manually configure these settings before installing, copy this file to 'config.php' and edit it.
//

//
// === General Settings ===
//

// The fallback default value for locale. Only used for installation and if no other locale setting is available.
// Locale should follow the standard format using ISO-639 language and ISO-3166 country codes, e.g. 'en_US' for 'English (United States)'.
// The available locales and their translations can be found in the directory 'languages/locale'.
$base_config['default_locale'] = 'en_US';

// Forces Nelliel to only allow sessions over a secure connection.
// Once SSL is set up for the site, it is recommended that you set this to true.
$base_config['secure_session_only'] = false;

//
// === Technical Settings ===
//

// In most cases you won't need to mess with this stuff.

// Default file and directory permissions. Must be in the proper octal format.
$base_config['directory_perm'] = '0755';
$base_config['file_perm'] = '0644';

// Base directory for temporary files. When empty, the system default is used.
$base_config['base_temp_directory'] = '';

// Enable/disable plugins.
$base_config['enable_plugins'] = true;

// Enable/disable JSON API.
$base_config['enable_json_api'] = true;

// Enable/disable template caching for Mustache.
$base_config['use_mustache_cache'] = true;

// Enable/disable Nelliel's internal caching systems. These are separate from external systems like memcache.
// Nelliel can function without them enabled but things become immensely slower.
// The only time these need to be disabled is for testing or troubleshooting.

// Writes certain commonly used settings and data to files for faster access.
$base_config['use_file_cache'] = true;

// Stores some parsing and rendering data so it doesn't have to be processed every time things are rendered.
$base_config['use_render_cache'] = true;
