<?php
defined('NELLIEL_VERSION') or die('NOPE.AVI');

//
// Example file for hashing configuration.
// If you want to manually configure these settings before installing, copy this file to 'crypt.php' and edit it.
//

//
// === Crypt Settings ===
//

// Account passwords

// The hashing algorithm to use for account passwords.
// Options: BCRYPT, ARGON2
$crypt_config['account_password_algorithm'] = 'BCRYPT';

// PHP default cost is 10; Nelliel default is 12; 4 is the minimum; 31 is maximum.
$crypt_config['account_password_bcrypt_cost'] = 12;

// PHP default memory cost is 1024; Nelliel default is 1024.
$crypt_config['account_password_argon2_memory_cost'] = 1024;

// PHP default time cost is 2; Nelliel default is 2.
$crypt_config['account_password_argon2_time_cost'] = 2;

// PHP default threads is 2; Nelliel default is 2.
$crypt_config['account_password_argon2_threads'] = 2;

// Maximum characters in account passwords. Only for preventing DoS attacks for xbox hueg strings.
$crypt_config['account_password_max_length'] = 256;

// Post passwords

// Use strong hashing for post passwords. When disabled Bcrypt with a cost of 4 is used.
$crypt_config['post_password_strong_hashing'] = false;

// The algorithm used for strong hashing of post passwords.
// Options: BCRYPT
$crypt_config['post_password_strong_algorithm'] = 'BCRYPT';

// Bcrypt cost for post passwords.
$crypt_config['post_password_strong_bcrypt_cost'] = 8;

// Maximum characters in post passwords. Only for preventing DoS attacks for xbox hueg strings.
$crypt_config['post_password_max_length'] = 256;

// IP addresses

// Use strong hashing for IP addresses. If disabled a peppered SHA256 hash is used instead.
$crypt_config['ip_strong_hashing'] = false;

// The algorithm used for strong hashing of IP addresses.
// Options: BCRYPT
$crypt_config['ip_strong_algorithm'] = 'BCRYPT';

// Bcrypt cost for IP hashes.
$crypt_config['ip_strong_bcrypt_cost'] = 8;
