<?php
defined('NELLIEL_VERSION') or die('NOPE.AVI');

// If you want to manually configure these settings before installing, copy this file to 'dnsbl.php' and edit it.

// Should be compatible with vichan's DNSBL functions
// https://web.archive.org/web/20121003095945/http://tinyboard.org/docs/?p=Config/DNSBL

$services[] = [];

// Exceptions can be declared in the site config as well
$exceptions = ['127.0.0.1'];
