:root {
	--main-background: #7BE89B;
	--main-color: #16006F;
	--base-font-family: serif;
	--base-font-size: 100%;
	--hr-color: #558866;
	--link-color: #3322DF;
	--link-visited-color: #3322DF;
	--link-hover-color: #CC22DF;
	--h1-color: #6000CC;
	--h2-color: #6000CC;
	--data-table-background: #FFFFFF;
	--data-table-color: inherit;
	--data-table-header-background: #33AAFF;
	--data-table-header-color: inherit;
	--data-table-row1-background: #99CCFF;
	--data-table-row1-color: inherit;
	--data-table-row2-background: #BBEEFF;
	--data-table-row2-color: inherit;
	--manage-header-background: #33AAEE;
	--manage-header-color: inherit;
	--manage-subheader-background: #55BBFF;
	--manage-subheader-color: inherit;
	--posting-form-label-background: #00AAF0;
	--posting-form-label-border: 1px solid #0088D0;
	--op-post-background: inherit;
	--op-post-border: none;
	--op-post-highlight-color: #AABBFF;
	--op-post-name-color: #B92050;
	--op-post-subject-color: #6611BB;
	--op-post-comments-color: inherit;
	--reply-post-background: #93D6EC;
	--reply-post-border: 1px solid #82C5EC;
	--reply-post-highlight-color: #CF9ACA;
	--reply-post-name-color: #B92050;
	--reply-post-subject-color: #6611BB;
	--reply-post-comments-color: inherit;
	--mod-comment-background: inherit;
	--mod-comment-color: #FF0000;
	--omitted-background: inherit;
	--omitted-color: #5500CC;
	--quote-background: inherit;
	--quote-color: #992244;
	--news-article-background: #93D6EC;
	--news-article-header-background: #33AAFF;
	--news-headline-color: inherit;
	--news-paragraph-color: inherit;
}
