:root {
	--main-background-color: #7FDA8F;
	--main-color: #16006F;
	--base-font-family: serif;
	--base-font-size: 100%;
	--hr-color: #558866;
	--link-color: #3322DF;
	--link-visited-color: #3322DF;
	--link-hover-color: #CC22DF;
	--h1-color: #6000CC;
	--h2-color: #6000CC;
	--data-table-background-color: #FFFFFF;
	--data-table-color: inherit;
	--data-table-header-background-color: ;
	--data-table-header-color: inherit;
	--data-table-row1-background-color: #99CCFF;
	--data-table-row1-color: inherit;
	--data-table-row2-background-color: #BBEEFF;
	--data-table-row2-color: inherit;
	--manage-header-background-color: #33AAEE;
	--manage-header-color: inherit;
	--manage-subheader-background-color: #55BBFF;
	--manage-subheader-color: inherit;
	--posting-form-label-background-color: #00AAF0;
	--posting-form-label-border: 1px solid #0088D0;
	--op-background-color: inherit;
	--op-border: none;
	--op-highlight-color: #AABBFF;
	--op-name-color: #B92050;
	--op-subject-color: #6611BB;
	--reply-background-color: #88BED0;
	--reply-border: 1px solid #669CB0;
	--reply-highlight-color: #CF9ACA;
	--reply-name-color: #B92050;
	--reply-subject-color: #6611BB;
	--mod-comment-background-color: inherit;
	--mod-comment-color: #FF0000;
	--omitted-background-color: inherit;
	--omitted-color: #5500CC;
	--greentext-background-color: inherit;
	--greentext-color: #992244;
}
