<div>
	<div>You have been banned from <span class="bold">{{ ban_board }}</span></div>
	<div>This ban was given on <span class="bold">{{ ban_time }}</span></div>
	<div>This ban has <span class="bold">{{ ban_length }}</span> remaining and will expire on <span class="bold">{{ ban_expiration }}</span></div>
	<p>Reason for your ban:</p>
	<p class="bold">{{ ban_reason }}</p>
	<p>Your current IP is: <span class="bold">{{ ban_ip }}</span></p>
</div>
{{# appeal_allowed }}
	{{^ appealed }}
<form accept-charset="utf-8" name="postingform" action="{{ form_action }}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="ban_id" value="{{ ban_id }}">
	<p data-i18n="gettext">If you wish, you may appeal this ban. Enter your reason why you should get unbanned in the box below. A staff member will (probably) review it.</p>
	<textarea name="bawww" cols="30" rows="6"></textarea>
	<input class="display-block" type="submit" value="Submit Appeal" data-i18n-attributes="gettext|value">
</form>
	{{/ appealed }}
{{/ appeal_allowed }}
{{# is_range }}
<p data-i18n="gettext">This is part of a range ban. You cannot appeal it.</p>
{{/ is_range }}
{{# appealed }}
	{{# reviewed }}
<p data-i18n="gettext">You have already appealed this ban but the appeal has not been reviewed yet.</p>
	{{/ reviewed }}
	{{# responded }}
<div>
	<div>{{ what_done }}</div>
	<span data-i18n="gettext">This is the response to your appeal: </span>
	<span>{{ appeal_response }}</span>
</div>
	{{/ responded }}
{{/ appealed }}
<hr class="clear">