{{% FILTERS }}
{{# board_navigation }}
	{{> navigation/board_links }}
{{/ board_navigation }}
{{# show_styles }}
	{{> menu/styles }}
{{/ show_styles }}
{{# site_navigation }}
	{{> navigation/site_links }}
{{/ site_navigation }}
<header>
	{{# is_site_header }}
	<h1 class="site-name">{{ name }}</h1>
	<h2 class="site-slogan">{{ slogan }}</h2>
	<div class="site-banner"><img src="{{ banner_url }}"></div>
	{{/ is_site_header }}
	{{# is_board_header }}
	<h1 class="board-name">{{ name }}</h1>
	{{# slogan }}
	<h2 class="board-slogan">{{ slogan }}</h2>
	{{/ slogan }}
	{{# banner_url }}
	<div class="board-banner"><img src="{{ banner_url }}"></div>
	{{/ banner_url }}
	{{/ is_board_header }}
	<hr class="clear">
	{{# manage_site }}
	<div class="manage-header">
		<span data-i18n="gettext">Site Management</span>
	</div>
	<div class="manage-sub-header">
		<span>{{ panel }}</span> - <span>{{ section }}</span>
	</div>
	{{/ manage_site }}
	{{# manage_board }}
	<div class="manage-header">
		<span data-i18n="gettext">Board Management</span>
	</div>
	<div class="manage-header">
		<span data-i18n="gettext">Board ID</span>: <span>{{ board_id }}</span>
	</div>
	<div class="manage-sub-header">
		<span>{{ panel }}</span> - <span>{{ section }}</span>
	</div>
	{{/ manage_board }}
</header>