{{# threads }}
	<div id="{{ thread_corral_id }}" class="thread-corral" data-jsevents="click|mouseover|mouseout">
		<div class="overboard-header">
			<span data-i18n="gettext">Posted in</span>
			<a href="{{ board_url }}">/{{ board_id }}/</a>
			<span class="safety-level">({{ board_safety }})</span>
		</div>
	{{# op_post }}
		{{> thread/post }}
	{{/ op_post }}
		<div id="{{ thread_expand_id }}">
	{{# abbreviate }}
			<span class="omitted-posts">{{ omitted_count }}<span data-i18n="gettext">  posts omitted. Click Reply or Expand Thread to view.</span><br></span>
	{{/ abbreviate }}
	{{# thread_posts }}
			{{> thread/post }}
	{{/ thread_posts }}
		</div>
	</div>
	<hr class="clear">
{{/ threads }}
{{# show_styles }}
	{{> menu/styles }}
{{/ show_styles }}